

.img-fluid {
    max-width: 95%;
    height: auto;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container,
    .container-sm {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container,
    .container-sm,
    .container-md {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1140px;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  
  .col-2,
  
  .col-10,
  
  .col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
  }
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  
  @media (min-width: 768px) {
    .col-md {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
   
    .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    
    .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
  
  .mb-5,
  .my-5 {
    margin-bottom: 3rem !important;
  }
  
  .p-5 {
    padding: 3rem !important;
  }
  .pt-5,
  .py-5 {
    padding-top: 3rem !important;
  }
  .pr-5,
  .px-5 {
    padding-right: 3rem !important;
  }
  .pb-5,
  .py-5 {
    padding-bottom: 3rem !important;
  }
  .pl-5,
  .px-5 {
    padding-left: 3rem !important;
  }
  
  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
   
  }
  @media (min-width: 992px) {
    .m-lg-0 {
      margin: 0 !important;
    }
   
    .ml-lg-0,
    .mx-lg-0 {
      margin-left: 0 !important;
    }
   
    .mb-lg-5,
    .my-lg-5 {
      margin-bottom: 3rem !important;
    }
    
    .pt-lg-3,
    .py-lg-3 {
      padding-top: 1rem !important;
    }
  }
  @media (min-width: 1200px) {
  
  }
  /*!* Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
  * License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)*/
  @font-face {
    font-family: fontawesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0)
        format("embedded-opentype"),
      url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),
      url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),
      url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),
      url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular)
        format("svg");
    font-weight: 400;
    font-style: normal;
  }
  * {
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto;
    }
  }
 
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1345px;
    }
  }
  
  .text-center {
    text-align: center;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  
  h3,
  
  h6 {
    margin: 0;
    padding: 0;
    font-family: work sans, sans-serif;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--text-color);
    line-height: 22.4px;
  }
  
  
  .header-section h3 {
    color: var(--title-color);
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
  }
  h3:after {
    content: "";
    display: block;
    width: 250px;
    height: 4px;
    /* background: #edba1f; */
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 3px;
  }
  .header-section p {
    color: var(--text-color);
    font-size: 22px;
    line-height: 34px;
  }
  @media (max-width: 800px) {
    .header-section h3 {
      font-size: 40px;
      line-height: 50px;
    }
  }
  @media (max-width: 667px) {
    .header-section h3 {
      font-size: 32px;
      line-height: 42px;
    }
    .header-section p {
      font-size: 18px;
      line-height: 30px;
    }
  }
  @media (max-width: 768px){
  .w3l-services2{
/* height: 1440px; */
  }
  .img-fluid {
    max-width: 100% !important;
    height: 320px !important;
  }
}

  
  
  .w3l-services2 .mobile-info {
    background: var(--light-bg-color);
  }
  .w3l-services2 .mobile-info-inn {
    align-items: center;
  }
  .w3l-services2 .mobile-right-icon {
    text-align: center;
  }
  .w3l-services2 .mobile-right-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    line-height: 22.4px;
  }
  .w3l-services2 .mobile-right-icon span.fa {
    font-size: 30px;
    color: var(--primary);
  }
  
  .w3l-services2 .mobile-right-info h6 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.3s ease-in;
  }
  .w3l-services2 .mobile-right-info h6 a:hover {
    color: var(--primary);
    transition: 0.3s ease-in;
  }
  @media only screen and (max-width: 992px) {
    .w3l-services2 .mobile-left {
      height: 300px;
      overflow: hidden;
      margin: 20px 0 40px;
    }
  }
  @media only screen and (max-width: 991px) {
    .w3l-services2 .mobile-right-icon {
      text-align: right;
    }
  }
  @media only screen and (max-width: 415px) {
    .w3l-services2 a.author {
      margin-top: 20px;
    }
  }
  
  
  /* [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 5;
    transform: translate(0);
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 5;
    transform: translate(0);
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 5;
    transform: translate(0);
}
[data-aos][data-aos][data-aos-duration='1000'], body[data-aos-duration='1000'] [data-aos] {
    transition-duration: 1s;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 5;
    transition-property: opacity,transform;
} */