<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link rel='stylesheet' href='https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css'>
    <link rel="stylesheet" href="business.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,640,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >


    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <a href="https://css-tricks.com/aos-css-driven-scroll-animation-library/"></a>
    <a href="https://github.com/michalsnik/aos"></a>
    
    <a href="https://michalsnik.github.io/aos/"></a>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i &amp;display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css"
    integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <!-- <link rel="stylesheet" href="./assets/css/bootstrap.css">  -->
  <link
    rel="stylesheet"
    id="site-css"
    href="{{ asset('assets/frontend/assets/css/custom.css') }}"
    type="text/css"
    media="all"
  />

  
    <title>Group SnapShot</title>
    <head>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
    </head>
    <!-- Bootstrap core CSS -->
    <link href="/group snapshot/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/vendor/fontawesome.css">
    <link rel="stylesheet" href="/group snapshot/assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="/vendor/css/owl.css">


    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/navbar/navbar.css">
    <link rel="stylesheet" href="/navbar/navbar-media.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;640&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/navbar/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,640,640i,700,700i,800,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:wght@400;700&family=Roboto:ital@1&family=Yantramanav:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:wght@400;700&family=Roboto:ital@1&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="/navbar.css"> -->
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-93817936-1','auto');ga('send','pageview');</script>

<style>
  html,body{
    overflow-x: hidden;
  }
  .containerbackground {
     /* margin: 3rem; */
     position: absolute;
     top: -5.8rem;
     left: 21rem;
     z-index: -1;
     font-size: 9rem;
     color:white;
     font-weight: 700;
     -webkit-text-stroke-color: #043a5b;
     -webkit-text-stroke-width: 1px;
     /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Poppins', sans-serif;
     /* font-family: 'Roboto', sans-serif; */
 }
  .sliderbackground {
     /* margin: 3rem; */
     position: absolute;
     top: 0.6rem;
     left: -3rem;
     font-size: 10rem;
     z-index: -1;
     color:transparent;
     font-weight: 700;
     -webkit-text-stroke-color: white;
     -webkit-text-stroke-width: 1px;
     /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Poppins', sans-serif;
     /* font-family: 'Roboto', sans-serif; */
 }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sliderbackground {
     /* margin: 3rem; */
     position: absolute;
     top: 0.6rem;
     left: -3rem;
     font-size: 10rem;
     z-index: -1;
     color:transparent;
     font-weight: 700;
     -webkit-text-stroke-color: white;
     -webkit-text-stroke-width: 1px;
     /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Poppins', sans-serif;
     /* font-family: 'Roboto', sans-serif; */
 }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
.containerbackground{
display: none;
}
.sliderbackground{
display: none;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {

.md-heading123 {
font-family: 'Poppins' !important;
font-size: 70px !important;
display: block !important;
margin-bottom: 5px !important;
font-weight: 600 !important;
color: #043a5b !important;
text-transform: uppercase !important;
/* text-align: center !important; */
/* margin-left: -20rem; */
letter-spacing: -3px !important;
}
}
@media (max-width: 768px){
    .md-heading123 {
  font-family: 'Poppins' !important;
  font-size: 37px !important;
  display: block !important;
  padding-top: 1rem;
  margin-bottom: 5px !important;
  font-weight: 600 !important;
  color: #043a5b !important;
  text-transform: uppercase !important;
  /* text-align: center !important; */
  /* margin-left: -20rem; */
  letter-spacing: -3px !important;
  }
}
</style>
  </head>

  <body>
    <nav>
      <body class="home-body">
      <header class="desktop-menu">
      <div class="logo-nav">
        <a href="/Home/index.html">
          <!-- <h2 style="color: white;">logo</h2> -->
       <!-- <img src="/navbar/image/LOGO-3.png" class="in-nonfixed-header" alt=""> -->
       <img src="/navbar/image/LOGO-3.png" style="height: 65px;" class="in-fixed-header" alt="lions-group">
       </a>
      </div>
      <div class="main-menu-wrapper">
      <ul class="main-menu">
      <li>
      <a class="mega" href="/aboutus/aboutus.html" style="text-decoration: none; color: white;">
          About Us  
      </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
      
      <div class="innerinfo">
      <h4> About Us </h4>
      <p class="overview-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, illo culpa. Amet dolores odit harum accusamus laboriosam veritatis unde, dolorum eos eius vel nulla nostrum, inventore laudantium fuga neque sapiente. Placeat voluptas voluptatem adipisci alias? Corporis aperiam amet facere, magni dolor a possimus qui ut error excepturi! Mollitia, ullam unde? </p>
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xWho-we-meg-min.jpg.pagespeed.ic.NMfAZk0C1W.webp" alt="about us">
      </div>
      </div>
      </div>
      </li>
      <li>
      <a class="mega" href="/beyondbusiness/beyond.html" style="text-decoration: none; color: white;" >
          Beyond business  
      </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
      
      <div class="innerinfo">
      <h4> Beyond business </h4>
      <p class="overview-copy"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore magni quibusdam reprehenderit molestiae, minus recusandae dicta atque ratione fugiat? </p>
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xnews-media-mega.png.pagespeed.ic.cssMWG4w2S.webp" alt="Beyond business">
      </div>
      </div>
      </div>
      </li>
      <li>
        <a class="mega"  style="text-decoration: none; color: white;">
          Our Businesses 
      </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
      <div class="inner-links">
      <ul class="mega-inner-wraper">
      <li>
      <a href="/group snapshot/groupsnap.html" class="" data-img="/navbar/image/Engineering-meg-min.jpg" data-alt="offerings">
      Group Snapshot
      </a>
      </li>
      <li>
        <a href="/lion eng/synerzy.html" class="" data-img="/navbar/image/Engineering-meg-min.jpg" data-alt="offerings">
          Synergy Engineers Group        </a>
        </li>
      <li>
      <a href="/lion eng/index.html" class="" data-img="/navbar/image/Construction-meg-min.jpg" data-alt="Lion Engineering Consultants">
      Lion Engineering Consultants
      </a>
      </li>
      <li>
      <a href="/lion eng/insultaion.html" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Lion Insulation">
      Lion Insulation
      </a>
      </li>
      <li>
      <a href="/lion eng/enerzy.html" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Lion Renewable Energy">
      Lion Renewable Energy
      </a>
      </li>
      <li>
      <a href="/lion eng/Techsol.html" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Alliant Techsol">
      Alliant Techsol
      </a>
      </li>
      <li>
      <a href="/lion eng/palace.html" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Narwar Palace">
      Narwar Palace
      </a>
      </li>
      <li>
      <a href="/lion eng/chulha.html" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Chauka Chulha">
      Chauka Chulha
      </a>
      </li>
      </ul>
      </div>
      <div class="innerinfo">
      <h4> Our Businesses </h4>
      <p class="overview-copy"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tenetur cupiditate hic eligendi? Minus, in? </p>
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xPartner-meg-min.jpg.pagespeed.ic.UzunC9ktMq.webp" alt="Our Businesses">
      </div>
      </div>
      </div>
      </li>
      <li>
        <a class="mega" href="/offerings/index.html" style="text-decoration: none; color: white;">
      Our offerings
      </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
      <div class="inner-links">
      <ul class="mega-inner-wraper">
      <li>
      <a href="#" class="" data-img="/navbar/image/Construction-meg-min.jpg" data-alt="Engineering PMC">
      Engineering PMC
      </a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Hospitality">
          Hospitality
      </a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Renewable Energy Facilitation">
          Renewable Energy Facilitation</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Product Engineering">
          Product Engineering</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Road Safety Audit">
          Road Safety Audit</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Construction-meg-min.jpg" data-alt="Defence Technologies">
          Defence Technologies</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Structure Operation & Maintenance">
          Structure Operation & Maintenance</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Construction-meg-min.jpg" data-alt="Research & Development">
          Research & Development</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Angel Investing">
          Angel Investing</a>
      </li>
      <li>
      <a href="#" class="" data-img="/navbar/image/Construction-meg-min.jpg" data-alt="Horticulture**">
          Horticulture</a>
      </li>
      
      </ul>
      </div>
      <div class="innerinfo">
      <h4> Our offerings </h4>
      <p class="overview-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolor voluptatem perferendis officiis, nobis nesciunt. </p>
     
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xPartner-meg-min.jpg.pagespeed.ic.UzunC9ktMq.webp" alt="Our offerings">
      </div>
      </div>
      </div>
      </li>
      <li>
      <a class="mega"  href="/whats trending/whatstrending.html">
      What's Trending
      </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
      <div class="inner-links">
      <ul class="mega-inner-wraper">
      <li>
      <a href="/whats trending/whatstrending.html" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="News">
          News
      </a>
      </li>
      <li>
      <a href="/whats trending/whatstrending.html" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Press Release">
          Press Release
      </a>
      </li>
      <li>
      <a href="/whats trending/whatstrending.html" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Newsletter & Reports">
          Newsletter & Reports</a>
      </li>
      <li>
      <a href="/whats trending/whatstrending.html" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Digital Initiatives">
          Digital Initiatives
      </a>
      </li>
      <li>
      <a href="/whats trending/whatstrending.html" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Blogs">
          Blogs
      </a>
      </li>
      </ul>
      </div>
      <div class="innerinfo">
      <h4> What's Trending </h4>
      <p class="overview-copy"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi esse quas cum ea molestias distinctio? </p>
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xnews-media-mega.png.pagespeed.ic.cssMWG4w2S.webp" alt="What's Trending">
      </div>
      </div>
      </div>
      </li>
      <li>
      <a href="/Careers2/Careers2.html" class="mega">
      Careers </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
          <div class="inner-links">
              <ul class="mega-inner-wraper">
              <li>
              <a href="#" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Our Philosophy">
                  Our Philosophy
              </a>
              </li>
              <li>
              <a href="#" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="We are the Lion">
                  We are the Lion
              </a>
              </li>
              <li>
              <a href="#" class="" data-img="/navbar/image/Procurement-meg.jpg" data-alt="Growing Together Policy">
                  Growing Together Policy</a>
              </li>
              <li>
              <a href="#" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Code of Conduct">
                  Code of Conduct
              </a>
              </li>
              <li>
              <a href="#" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Openings">
                  Openings
              </a>
              </li>
              <li>
              <a href="#" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Life at Lion">
                  Life at Lion
              </a>
              </li>
              </ul>
              </div>
      <div class="innerinfo">
      <h4> Careers </h4>
      <p class="overview-copy"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quod, obcaecati natus sit facere odit!</p>
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xtouch-mega.png.pagespeed.ic.7KosvH4FxM.webp" alt="Careers">
      </div>
      </div>
      </div>
      </li>
      <li>
      <a href="/contactus/contactus.html" class="mega">
      Connect </a>
      <div class="mega-menu">
      <div class="inner-info">
      <div class="inner-left">
              <div class="inner-links">
                  <ul class="mega-inner-wraper">
                  <li>
                  <a href="#" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Headquarters">
                      Headquarters
                  </a>
                  </li>
                  <li>
                  <a href="#" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Key Emails">
                      Key Emails
                  </a>
                  </li>
                  <li>
                  <a href="#" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Regional Offices">
                      Regional Offices</a>
                  </li>
                  <li>
                  <a href="#" class="" data-img="/navbar/image/Investments-meg-min.jpg" data-alt="Form">
                      Form
                  </a>
                  </li>
                  <li>
                  <a href="#" class="" data-img="/navbar/image/Quality-Service-new-meg.jpg" data-alt="Map">
                      Map
                  </a>
                  </li>
      
                  </ul>
                  </div>
      <div class="innerinfo">
      <h4> Connect </h4>
      <p class="overview-copy"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse deserunt quaerat velit, atque facilis! </p>
      </div>
      </div>
      <div class="inner-right">
      <img src="/navbar/image/xtouch-mega.png.pagespeed.ic.7KosvH4FxM.webp" alt="Connect">
      </div>
      </div>
      </div>
      </li>
      </ul>
      </div>
      <div class="social-icon-wrapper">
      <ul>
      <li>
      <a href="#" target="_blank" rel="nofollow">
      <img src="/navbar/image/fb-white.svg" alt="facebook" class="in-fixed-header">
      </a>
      </li>
      <li>
      <a href="#" target="_blank" rel="nofollow">
      <img src="/navbar/image/linkedin-white.svg" alt="linkedin" class="in-fixed-header">
      </a>
      </li>
      <li>
      <a href="#" target="_blank" rel="nofollow">
      <img src="/navbar/image/youtube-white.svg" alt="youtube" class="in-fixed-header">
      </a>
      </li>
      <!-- <li>
      <a href="#" target="_blank" rel="nofollow">
      <img src="/navbar/image/insta-svg.svg" alt="Instagram" class="in-fixed-header">
      </a>
      </li> -->
      </ul>
      </div>
      <div class="-icon-wrapper">
     
      </div>
      </header>
      <div class=" mobile-menu">
      <header class="nav-top">
      <span class="hamburger material-icons" id="ham"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </header>
      <nav class="nav-drill">
      <ul class="nav-items nav-level-1">
      <li class="nav-item ">
      <a class="nav-link " href="/aboutus/aboutus.html">
      About Us
      </a>
      </li>
      <li class="nav-item ">
      <a class="nav-link " href="/beyondbusiness/beyond.html">
          Beyond Business
      </a>
      
      </li>
      <li class="nav-item nav-expand">
      <a class="nav-link nav-expand-link" href="javascript:void(0);">
          Our Businesses
         
      </a>
     
      <ul class="nav-items nav-expand-content">
      <li class="nav-item">
      <a class="nav-link" href="/group snapshot/groupsnap.html">
         Group snapshot 
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/index.html">
          Lion Engineering Consultants
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/synerzy.html">
          Synergy Engineers Group
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/insultaion.html">
          Lion Insulation</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/enerzy.html">
          Lion Renewable Energy</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/Techsol.html">
          Alliant Techsol</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/palace.html">
          Narwar Palace</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lion eng/chulha.html">
          Chauka Chulha</a>
      </li>
      </ul>
      </li>
      <li class="nav-item nav-expand">
      <a class="nav-link nav-expand-link" href="javascript:void(0);">
          Our offerings
      </a>
      <ul class="nav-items nav-expand-content">
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Engineering PMC
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Hospitality
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Renewable Energy Facilitation
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Product Engineering
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Supervision and Quality Control
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Road Safety Audit
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Third Party Inspection
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Defence Technologies
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Structure Operation & Maintenance
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Research & Development
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Angel Investing
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/offerings/index.html">
          Horticulture
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item nav-expand">
      <a class="nav-link nav-expand-link" href="javascript:void(0);">
      What's Trending
      </a>
      <ul class="nav-items nav-expand-content">
      <li class="nav-item">
      <a class="nav-link" href="/whats trending/whatstrending.html">
          News
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Press Release
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Newsletter & Reports</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Digital Initiatives</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Blogs
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item nav-expand">
      <a class="nav-link nav-expand-link" href="/Careers2/Careers2.html">
          Careers
      </a>
      <ul class="nav-items nav-expand-content">
      <li class="nav-item">
      <a class="nav-link" href="#">
          Our Philosophy
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          We are the Lion
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Stories - Our Employee Speaks</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Growing Together Policy</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Code of Conduct
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Openings</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Life at Lion</a>
      </li>
      </ul>
      </li>
      <li class="nav-item nav-expand">
      <a class="nav-link nav-expand-link" href="/contactus/contactus.html">
          Connect
      </a>
      <ul class="nav-items nav-expand-content">
      <li class="nav-item">
      <a class="nav-link" href="#">
          Headquarters
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Key Emails
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Regional Offices</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Form</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">
          Map
      </a>
      </li>
      </ul>
      </li>
      </ul>
      </nav>
      </div>
      </nav>

    

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content" style="position: relative;">
                  <div class="sliderbackground animated animate__lightSpeedInRight text-uppercase" id="" >
                    Snapshot
                  </div>
                  <!-- <h6 class="animate__animated animate__fadeInRightBig animate__slow	1s">we are ready to help you</h6> -->
                  <h4 class="animate__animated animate__fadeInRightBig animate__slow	3s md-heading123" style="font-size: 80px;color:white !important;"> Group Snapshot</h4>
                  <p class="animate__animated animate__fadeInRightBig animate__slow	4s">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ab error aut sit facilis itaque aperiam ea, illo doloribus nihil, sequi dolor quibusdam sunt voluptas omnis. Culpa, at enim. A.</p>
                  <!-- <a href="contact.html" class="filled-button">contact us</a> -->
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
        
          <!-- // Item -->
          <!-- Item -->

          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->
 
    
<section class="section-containerBackground" style="position: relative;background: maroon;" id="FigSection">
  <div class="containerbackground text-uppercase" id="headingtwo" style="-webkit-text-stroke-color: white;z-index: unset; color:transparent;top: 0.2rem;left:28rem">
    figures
</div>
<div class="section-title text-center pt-md-5 pb-md-3">
    <h2 class="section-title__title md-heading123 mt-md-5" id="subHeading2" style="color: white !important;">CORPORATE</h2>
</div>
  
       <div class="snap-container" style="background: maroon;">
        <div class="box" id="headingtwo">
            <div class="chart" data-percent="90" >                  <div class="count-digit" style="color:white" >90</div>
           </div>
            <h2>lorem ipsum</h2>
            <p>lorem</p>
          </div>
          <div class="box" id="">
            <div class="chart" data-percent="72" >                  <div class="count-digit" style="color:white" >72</div>
           </div>
            <h2>lorem ipsum</h2>
            <p>lorem</p>
          </div>
          <div class="box" id="">
            <div class="chart" data-percent="81" >                  <div class="count-digit" style="color:white" >81</div>
           </div>
            <h2>lorem ipsum</h2>
            <p>lorem</p>
          </div>
         </div>
</section>

    
          <section class="w3l-services2" id="services" >
            <div class="section-heading mb-0" id="headinga" style="position: relative;">
              <!-- <h2 style="color:white">We have grown</h2> -->
              <!-- <span style="color: white;">Etiam suscipit ante a odio consequat</span> -->
              <div class="containerbackground text-uppercase" id="headingthree" style="z-index: unset; color:transparent;top: 0.2rem;left:24rem">
                grown
            </div>
            <div class="section-title text-center pt-md-5 pb-md-3">
                <h2 class="section-title__title md-heading123 mt-md-5" id="subHeading3" >We have grown</h2>
            </div>
            </div> 
            <div class="mobile-info py-5">
              <div class="container py-lg-3">
                <!-- <div class="header-section mb-5 text-center"  id="headingc">
                  <h3  style="color:#AB1C20">We have grown</h3>
                </div> -->
                <div class="row mobile-info-inn mx-lg-0">
                  <div class="col-lg-4 mobile-right" id="headinge">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                      <div class="col-2 mobile-right-icon" >
                        <div class="mobile-icon" >
                          <img
                            src="./assets/images/multiple1.svg"
                            width="100"
                            style="padding-right:40px;"
                          />
                        </div>
                      </div>
                      <div class="col-10 mobile-right-info">
                        <h6 ><a href="#url">Lorem Ipsum</a></h6>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officiis!
                        </p>
                      </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                      <div class="col-2 mobile-right-icon">
                        <div class="mobile-icon" >
                          <img
                            src="./assets/images/worldwide.svg"
                            width="100"
                            style="padding-right:50px;"
                          />
                        </div>
                      </div>
                      <div class="col-10 mobile-right-info">
                        <h6 ><a href="#url">Lorem Ipsum</a></h6>
                        <p >
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, hic?
                        </p>
                      </div>
                    </div>
                    <div class="row mobile-right-grids">
                      <div class="col-2 mobile-right-icon">
                        <div class="mobile-icon" >
                          <img
                            src="./assets/images/rates.svg"
                            width="80"
                            style="padding-right:20px;"
                          />
                        </div>
                      </div>
                      <div class="col-10 mobile-right-info">
                        <h6 ><a href="#url">Lorem Ipsum</a></h6>
                        <p >
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, provident.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mobile-left" id="headingd">
                    <img 
                      src="./assets/images/vehicle.svg"
                      class="img-fluid animate__animated animate__fadeInUp"
                      alt="Monetise your traffic"
                    />
                  </div>
                  <div class="col-lg-4 mobile-right" id="headingf" >
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                      <div class="col-2 mobile-right-icon" id="headingf">
                        <div class="mobile-icon" >
                          <img
                            src="./assets/images/adblocktechnology.svg"
                            width="80"
                            style="padding-right:20px;"
                          />
                        </div>
                      </div>
                      <div class="col-10 mobile-right-info">
                        <h6 ><a href="#url">Lorem Ipsum</a></h6>
                        <p >
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, modi!
                        </p>
                      </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                      <div class="col-2 mobile-right-icon">
                        <div class="mobile-icon"  >
                          <img
                            src="./assets/images/statistics1.svg"
                            width="80"
                            style="padding-right:20px;"
                          />
                        </div>
                      </div>
                      <div class="col-10 mobile-right-info">
                        <h6 ><a href="#url">Lorem Ipsum</a></h6>
                        <p >
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, culpa?
                        </p>
                      </div>
                    </div>
                    <div class="row mobile-right-grids">
                      <div class="col-2 mobile-right-icon">
                        <div class="mobile-icon" >
                          <img
                            src="./assets/images/payments.svg"
                            width="80"
                            style="padding-right:20px;"
                          />
                        </div>
                      </div>
                      <div class="col-10 mobile-right-info">
                        <h6 ><a href="#url">Lorem Ipsum</a></h6>
                        <p >
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, odio.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

    <!-- <div class="callback-form contact-form">
      <div class="container-fluid">
        <div class="row"> -->
          
          <!-- <div class="col-sm-12"> -->
            <!-- <div class="contact-form"> -->
              <!-- <div class="section-heading" id="headinga" style="position: relative;"> -->
                <!-- <h2 style="color:white">We have grown</h2> -->
                <!-- <span style="color: white;">Etiam suscipit ante a odio consequat</span> -->
                <!-- <div class="containerbackground text-uppercase" id="headingthree" style="-webkit-text-stroke-color: white;z-index: unset; color:transparent;top: 0.2rem;left:24rem"> -->
                  <!-- grown -->
              <!-- </div> -->
              <!-- <div class="section-title text-center pt-md-5 pb-md-3"> -->
                  <!-- <h2 class="section-title__title md-heading123 mt-md-5" id="subHeading3" style="color: white !important;">We have grown</h2> -->
              <!-- </div> -->
              <!-- </div>  -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

    

    <div class="fun-facts" style="position: relative;background: #043a5b;">
      <div class="containerbackground text-uppercase" id="headingfour" style="-webkit-text-stroke-color: white;z-index: unset; color:transparent;top: 3rem;left:28rem">
        figures
    </div>
    <div class="section-title text-center">
        <h2 class="section-title__title md-heading123" id="subHeading4" style="color: white !important;">Corporate</h2>
    </div>
      <div class="container">
        <div class="row">
          
          <div class="col-md-12 align-self-center">
            <div class="row mt-md-5">
              <div class="col-md-3" style="position: relative;">
                <div class="containerbackground text-uppercase" id="subSubHeading1" style="z-index: unset; color:transparent;top: -2rem;left:2rem;-webkit-text-stroke-color:white;font-size: 10rem;">
                  94
              </div>
                <div class="count-area-content justify-content-between justify-content-md-center flex-md-column">
                  <div class="count-digit" style="color:#fff;z-index:1;">94</div>
                  <div class="count-title">Lorem
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="containerbackground text-uppercase" id="subSubHeading2" style="z-index: unset; color:transparent;top: -2rem;left:2rem;-webkit-text-stroke-color:white;font-size: 10rem;">
                  80
              </div>
                <div class="count-area-content justify-content-between justify-content-md-center flex-md-column">
                  <div class="count-digit" style="color:#fff;z-index:1;">80</div>
                  <div class="count-title">Lorem</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="containerbackground text-uppercase" id="subSubHeading3" style="z-index: unset; color:transparent;top: -2rem;left:2rem;-webkit-text-stroke-color:white;font-size: 10rem;">
                  57
              </div>
                <div class="count-area-content justify-content-between justify-content-md-center flex-md-column">
                  <div class="count-digit" style="color:#fff;z-index:1;">57</div>
                  <div class="count-title">Lorem</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="containerbackground text-uppercase" id="subSubHeading4" style="z-index: unset; color:transparent;top: -2rem;left:2rem;-webkit-text-stroke-color:white;font-size: 10rem;">
                  26
              </div>
                <div class="count-area-content justify-content-between justify-content-md-center flex-md-column">
                  <div class="count-digit" style="color:#fff;z-index:1;">26</div>
                  <div class="count-title">Lorem</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="dw-br">
      
      <div class="row" style="margin: 0px;">
        <div class="col-md-6 text-center" style="background-color: maroon;position: relative; ">
<!-- <h2 class="br-head" id="sectionTitle1">Company Brochure</h2> -->
<div class="containerbackground text-uppercase" id="headingfive" style="z-index: unset; color:transparent;top: 3.4rem;left:10rem;-webkit-text-stroke-color:white;font-size: 5rem;;">
  Company
</div>
<div class="section-title text-center pt-md-5 pb-md-3">
  <h2 class="section-title__title md-heading123 mt-md-5 pr-md-5 mr-md-5" id="subHeading5" style="color: white !important;font-size: 50px !important;">Brochure</h2>
</div>
<p class="br-text" id="headingsix">Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Totam at vero non sed fugit molestias unde debitis saepe cupiditate nulla.</p>
<button class="download-br"><i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-md-6" style="padding: 0px;">
<img src="https://image.freepik.com/free-psd/a4-cover-spread-magazine-mockups_7838-385.jpg" class="br-img h-100">
        </div>
      </div>
    </section>
   
    <!-- Footer Starts Here -->
   
    
 

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="/vendor/js/owl.js"></script>
    <script src="/vendor/js/slick.js"></script>
    <script src='https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js'></script><script  src="./business.js"></script>

    <script src="/vendor/js/accordions.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
    <!-- <script src='https://www.google.com/recaptcha/api.js' async defer></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js" integrity="sha512-2ZFPcPxv4xOvt+Sz1JMGyoliB3tccdckAJXlEz13o1byNrevFuyDoLs9tZfi+hTHz/h5o/XealriXyhyzGYrGg==" crossorigin="anonymous"></script>
    <script src="/navbar/js/pagespeed.js"></script><script>eval(mod_pagespeed_TduWxEQ52Q);</script>
    <script>eval(mod_pagespeed_8FIAckIyNV);</script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.js" defer></script>
    <script src="/navbar/js/php.js" defer></script>
    <script src="/navbar/js/custom.js" defer></script>
    <script src="/navbar/js/custom-1.js" defer></script>
    </body>
    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
 <script>
  $(function() {
$('.chart').easyPieChart({
size: 160,
barColor: "white",
scaleLength: 0,
lineWidth: 5,
trackColor: "#525151",
lineCap: "circle",
animate:5000
});
});

// counter

function inVisible(element) {
//Checking if the element is
//visible in the viewport
var WindowTop = $(window).scrollTop();
var WindowBottom = WindowTop + $(window).height();
var ElementTop = element.offset().top;
var ElementBottom = ElementTop + element.height();
//animating the element if it is
//visible in the viewport
if ((ElementBottom <= WindowBottom) && ElementTop >= WindowTop)
animate(element);
}

function animate(element) {
//Animating the element if not animated before
if (!element.hasClass('ms-animated')) {
var maxval = element.data('max');
var html = element.html();
element.addClass("ms-animated");
$({
  countNum: element.html()
}).animate({
  countNum: maxval
}, {
  //duration 5 seconds
  duration: 3000,
  easing: 'linear',
  step: function() {
    element.html(Math.floor(this.countNum) + html);
  },
  complete: function() {
    element.html(this.countNum + html);
  }
});
}

}

//When the document is ready
$(function() {
//This is triggered when the
//user scrolls the page
$(window).scroll(function() {
//Checking if each items to animate are 
//visible in the viewport
$("h2[data-max]").each(function() {
  inVisible($(this));
});
})
});

// counter end

</script>
<script>
  $(document).ready(function(){
      $(window).scroll(function(){
          var positiontop= $(document).scrollTop();
          console.log(positiontop)
          if((positiontop>350)&&(positiontop<750))
          {
              $('#heading').addClass('animate__animated  animate__fadeInRightBig' );
          }
          if((positiontop>150)&&(positiontop<400))
          {
              $('#headingone').addClass('animate__animated animate__backInUp');
              $('#subHeading1').addClass('animate__animated animate__fadeInLeft');
          }
          if((positiontop>850)&&(positiontop<1300))
          {
              $('#headingtwo').addClass('animate__animated animate__backInUp');
              $('#subHeading2').addClass('animate__animated animate__fadeInLeft');

          }
          if((positiontop>1050)&&(positiontop<1200))
          {
              $('#headingc').addClass('animate__animated animate__fadeInDown');
          }
          if((positiontop>1150)&&(positiontop<1300))
          {
          }
          if((positiontop>1150)&&(positiontop<1300))
          {
          }
          if((positiontop>1150)&&(positiontop<1300))
          {
          }

          if((positiontop>1450)&&(positiontop<2000))
          {
              $('#headingthree').addClass('animate__animated animate__backInUp');
              $('#subHeading3').addClass('animate__animated animate__fadeInLeft');
              $('#headingd').addClass('animate__animated animate__fadeInUp  animate__slow 2s');
              $('#headinge').addClass('animate__animated animate__fadeInLeft animate__slow 2s');
              $('#headingf').addClass('animate__animated animate__fadeInRight animate__slow 2s');



          }
          if((positiontop>2300)&&(positiontop<2600))
          {
              $('#headingfour').addClass('animate__animated animate__backInUp');
              $('#subHeading4').addClass('animate__animated animate__fadeInLeft');
              $('#subSubHeading1').addClass('animate__animated animate__zoomIn animate__delay-1s');
              $('#subSubHeading2').addClass('animate__animated animate__zoomIn animate__delay-1s');
              $('#subSubHeading3').addClass('animate__animated animate__zoomIn animate__delay-1s');
              $('#subSubHeading4').addClass('animate__animated animate__zoomIn animate__delay-1s');

          }
          if((positiontop>2450)&&(positiontop<3000))
          {
              $('#headingfive').addClass('animate__animated animate__backInUp');
              $('#subHeading5').addClass('animate__animated animate__fadeInLeft');
          }
          if((positiontop>2900)&&(positiontop<3000))
          {
            $('#sectionTitle1').addClass('animate__animated animate__fadeInLeft');
              $('#headingsix').addClass('animate__animated animate__fadeInLeft animate__slow 3s');
          }
          if((positiontop>1050)&&(positiontop<1200))
          {
              $('#headinga').addClass('animate__animated animate__fadeInLeft');
          }
          if((positiontop>1500)&&(positiontop<1700))
          {
              $('#headingb').addClass('animate__animated animate__fadeInDownBig');
          }
      });
  });
</script>
  </body>
</html>