html {
    /* font-size: 62.5%; */
  }
  html,body{
    /* height: 100%; */
  }
  body {
    /* font-size: 1.6rem; */
    font-family: "Poppins", sans-serif;
  }
  @media screen and (min-width: 992px) and (max-width: 1024px){
    .slider, .slide {
      height: 48vh;
    }
  }
  @media (min-width: 1200px) {
    .slider, .slide {
      height: 100vh;
    }
  }
  ol, ul {
    padding-left: 0rem;
}
  
  .slide {
    position: relative;
    transition: 1s;
  }
  .slide .slide__img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  @media (min-width: 992px) {
    .slide .slide__img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .slide .slide__img img {
    max-width: 100%;
    height: auto;
    opacity: 1 !important;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    transition: all 1s ease;
  }
  .slide .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slide .slide__content.slide__content__left {
    left: 15%;
    transform: translate(-15%, -50%);
  }
  .slide .slide__content.slide__content__right {
    right: 15%;
    left: auto;
    transform: translate(5%, -50%);
  }
  .slide .slide__content--headings {
    color: #FFF;
  }
 
  .slide .slide__content--headings h2 {
    font-size: 4.5rem;
    margin: 10px 0;
  }
  @media only screen and (max-width: 600px)
  {
    .slide .slide__content--headings h2 {
      font-size: 2rem;
    }
  }
  .slide .slide__content--headings .animated {
    transition: all 0.5s ease;
  }
  .slide .slide__content--headings .top-title {
    font-family: "Playball", cursive;
    font-size: 2.5rem;
  }
  .slide .slide__content--headings .title {
    font-size: 3.5rem;
  }
  .slide .slide__content--headings .button-custom {
    text-decoration: none;
    color: #333;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
  }
  
  .slider [data-animation-in] {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
    transition: 1s;
  }
  
  .slick-dotted .slick-slider {
    margin-bottom: 30px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
  }
  
  .simple-dots .slick-dots li {
    width: 20px;
    height: 20px;
  }
  .simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    width: 20px;
    height: 20px;
  }
  .simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
    opacity: 1;
  }
  .simple-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
  }
  
  .stick-dots .slick-dots li {
    height: 3px;
    width: 50px;
  }
  .stick-dots .slick-dots li button {
    position: relative;
    background-color: white;
    opacity: 0.25;
    width: 50px;
    height: 3px;
    padding: 0;
  }
  .stick-dots .slick-dots li button:hover, .stick-dots .slick-dots li button:focus {
    opacity: 1;
  }
  .stick-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
  }
  .stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
    opacity: 1;
  }
  
  /* /////////// IMAGE ZOOM /////////// */
  @-webkit-keyframes zoomInImage {
    from {
      transform: scale3d(1, 1, 1);
      transition: 1s;
    }
    to {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
    }
  }
  @keyframes zoomInImage {
    from {
      transform: scale3d(1, 1, 1);
      transition: 1s;
    }
    to {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
    }
  }
  .zoomInImage {
    -webkit-animation-name: zoomInImage;
            animation-name: zoomInImage;
  }
  
  @-webkit-keyframes zoomOutImage {
    from {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
    }
    to {
      transform: scale3d(1, 1, 1);
      transition: 1s;
    }
  }
  
  @keyframes zoomOutImage {
    from {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
    }
    to {
      transform: scale3d(1, 1, 1);
      transition: 1s;
    }
  }
  .zoomOutImage {
    -webkit-animation-name: zoomOutImage;
            animation-name: zoomOutImage;
    transition: 1s;
  }
  
  .slick-nav {
    --active: #fff;
    --border: rgba(255, 255, 255, .12);
    width: 44px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 44px);
  }
  .slick-nav.prev-arrow {
    left: 3%;
    transform: scaleX(-1);
    z-index: 99;
  }
  .slick-nav.next-arrow {
    left: auto;
    right: 3%;
  }
  .slick-nav i {
    display: block;
    position: absolute;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
  }
  .slick-nav i:before, .slick-nav i:after {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--active);
    margin: -1px 0 0 -5px;
    display: block;
    transform-origin: 9px 50%;
  }
  .slick-nav i:before {
    transform: rotate(-40deg);
  }
  .slick-nav i:after {
    transform: rotate(40deg);
  }
  .slick-nav:before, .slick-nav:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 50%;
    border: 2px solid var(--border);
  }
  .slick-nav svg {
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--active);
    stroke-width: 2px;
    stroke-dashoffset: 126;
    stroke-dasharray: 126 126 0;
    transform: rotate(0deg);
  }
  .slick-nav.animate svg {
    -webkit-animation: stroke 1s ease forwards 0.3s;
            animation: stroke 1s ease forwards 0.3s;
  }
  .slick-nav.animate i {
    -webkit-animation: arrow 1.6s ease forwards;
            animation: arrow 1.6s ease forwards;
  }
  .slick-nav.animate i:before {
    -webkit-animation: arrowUp 1.6s ease forwards;
            animation: arrowUp 1.6s ease forwards;
  }
  .slick-nav.animate i:after {
    -webkit-animation: arrowDown 1.6s ease forwards;
            animation: arrowDown 1.6s ease forwards;
  }
  
  @-webkit-keyframes stroke {
    52% {
      transform: rotate(-180deg);
      stroke-dashoffset: 0;
    }
    52.1% {
      transform: rotate(-360deg);
      stroke-dashoffset: 0;
    }
    100% {
      transform: rotate(-180deg);
      stroke-dashoffset: 126;
    }
  }
  
  @keyframes stroke {
    52% {
      transform: rotate(-180deg);
      stroke-dashoffset: 0;
    }
    52.1% {
      transform: rotate(-360deg);
      stroke-dashoffset: 0;
    }
    100% {
      transform: rotate(-180deg);
      stroke-dashoffset: 126;
    }
  }
  @-webkit-keyframes arrow {
    0%, 100% {
      transform: translateX(0);
      opacity: 1;
    }
    23% {
      transform: translateX(17px);
      opacity: 1;
    }
    24%, 80% {
      transform: translateX(-22px);
      opacity: 0;
    }
    81% {
      opacity: 1;
      transform: translateX(-22px);
    }
  }
  @keyframes arrow {
    0%, 100% {
      transform: translateX(0);
      opacity: 1;
    }
    23% {
      transform: translateX(17px);
      opacity: 1;
    }
    24%, 80% {
      transform: translateX(-22px);
      opacity: 0;
    }
    81% {
      opacity: 1;
      transform: translateX(-22px);
    }
  }
  @-webkit-keyframes arrowUp {
    0%, 100% {
      transform: rotate(-40deg) scaleX(1);
    }
    20%, 80% {
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @keyframes arrowUp {
    0%, 100% {
      transform: rotate(-40deg) scaleX(1);
    }
    20%, 80% {
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @-webkit-keyframes arrowDown {
    0%, 100% {
      transform: rotate(40deg) scaleX(1);
    }
    20%, 80% {
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @keyframes arrowDown {
    0%, 100% {
      transform: rotate(40deg) scaleX(1);
    }
    20%, 80% {
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @media only screen and (min-width: 992px){
    .keyfigure{
      padding-top: 80px;
    padding-bottom: 100px;
    }
  }
  .keyfigure{
    background: rgb(0,0,0,0.1)url("./images/fun-facts-bg.jpg");
    background-blend-mode: darken;
    background-size: cover;
    height: fit-content;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background: center; */
    background-position: center;
    color: white;
    
    }
    /* body{
        padding: 0px;
        margin: 0px;
    } */
    .uk-margin{
        margin-top: 0!important;
    }
    .odometer {
        font-size: 100px !important;
        font-weight:700 !important;
    }
    @media only screen and (max-width: 768px) {
      .odometer {
        font-size: 50px !important;
        font-weight:700 !important;
      }
    }
      .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      position: relative;
    }
    .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      position: relative;
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      visibility: hidden;
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
      text-align: left;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
      display: block;
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
      display: block;
      -webkit-backface-visibility: hidden;
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
      display: block;
      -webkit-transform: translateZ(0);
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
      position: absolute;
    }
    .odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
      -webkit-transition: -webkit-transform 2s;
      -moz-transition: -moz-transform 2s;
      -ms-transition: -ms-transform 2s;
      -o-transition: -o-transform 2s;
      transition: transform 2s;
    }
    .odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    .odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    .odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
      -webkit-transition: -webkit-transform 2s;
      -moz-transition: -moz-transform 2s;
      -ms-transition: -ms-transform 2s;
      -o-transition: -o-transform 2s;
      transition: transform 2s;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
      font-family: &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot;Helvetica Neue&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot;, sans-serif;
      line-height: 1.1em;
    }
    .odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
      text-align: center;
    }
    .uk-section {
        background-color: #0e0d0d;
      }
      .owl-carousel {
        position: relative;
        margin-top: 30px;
      }
      .owl-nav {
        position: absolute;
        top: -60px;
        left: 10px;
      }
      .uk-card-primary {
        border-radius: 8px;
      }
      h3 {
        margin-top: 10px
      }
      .uk-card > :last-child {
        margin-top:0;
        margin-bottom: 10px
      }
      p {
        margin-top: 30px;
        margin-bottom: 0;
      }
      .owl-next {
        /* background: #3286f0; */
      }
      .owl-theme .owl-nav [class*='owl-'] {
        background: #383838;
      }
      .owl-dots {
        margin-top: 30px;
      }
      .uk-card-title {
        padding-bottom: 20px
      }
      .uk-card1{
    background: url('https://www.taxadvisermagazine.com/sites/default/files/styles/article_full/public/employee-Deepak%20Sethi.jpg?itok=ZKrPSHWR&c=957d9622c9a1717ee19018eff40a9919');
    background-size: cover !important; 
     }
    .uk-card1:hover{
        background: rgb(0,0,0,0.6)url('https://www.taxadvisermagazine.com/sites/default/files/styles/article_full/public/employee-Deepak%20Sethi.jpg?itok=ZKrPSHWR&c=957d9622c9a1717ee19018eff40a9919');
    
        background-blend-mode: darken; 
     }
     .uk-card2{
        background: url('https://usveteransmagazine.com/wp-content/uploads/2017/10/Interview-Tips-1.jpg');
        background-size: cover !important; 
         }
        .uk-card2:hover{
            background: rgb(0,0,0,0.6)url('https://usveteransmagazine.com/wp-content/uploads/2017/10/Interview-Tips-1.jpg');
        
            background-blend-mode: darken; 
         }
         .uk-card3{
            background: url('https://www.glassdoor.com/employers/app/uploads/sites/2/2018/09/resources-benefits-employees-want-most-min-768x483-1-e1540508225245.jpg?x60772');
            background-size: cover !important; 
             }
            .uk-card3:hover{
                background: rgb(0,0,0,0.6)url('https://www.glassdoor.com/employers/app/uploads/sites/2/2018/09/resources-benefits-employees-want-most-min-768x483-1-e1540508225245.jpg?x60772');
            
                background-blend-mode: darken; 
             }
             .uk-card4{
                background: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F6109550f1aa8564670194ad4%2FClose-up-smiling-businesswoman-holding-computer-tablet--looking-to-side%2F960x0.jpg%3Ffit%3Dscale');
                background-size: cover !important; 
                 }
                .uk-card4:hover{
                    background: rgb(0,0,0,0.6)url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F6109550f1aa8564670194ad4%2FClose-up-smiling-businesswoman-holding-computer-tablet--looking-to-side%2F960x0.jpg%3Ffit%3Dscale');
                
                    background-blend-mode: darken; 
                 }
                 .uk-card5{
                    background: url('https://www.camc.org/sites/default/files/styles/800x600/public/2020-09/employee%20wellness%20center_hero.jpg?itok=9qCcPtUE');
                    background-size: cover !important; 
                     }
                    .uk-card5:hover{
                        background: rgb(0,0,0,0.6)url('https://www.camc.org/sites/default/files/styles/800x600/public/2020-09/employee%20wellness%20center_hero.jpg?itok=9qCcPtUE');
                    
                        background-blend-mode: darken; 
                     }
                     .uk-card6{
                        background: url('https://content.gallup.com/origin/gallupinc/GallupSpaces/Production/Cms/WORKPLACEV9CMS/g2rc9tyxy0atuujywb0iog.jpg');
                        background-size: cover !important; 
                         }
                        .uk-card6:hover{
                            background: rgb(0,0,0,0.6)url('https://content.gallup.com/origin/gallupinc/GallupSpaces/Production/Cms/WORKPLACEV9CMS/g2rc9tyxy0atuujywb0iog.jpg');
                        
                            background-blend-mode: darken; 
                         }
      .uk-card-title{
          color: transparent !important; 
      }
      .uk-card:hover .uk-card-title{
          
          color: white !important;
          transition: 100ms ease-in-out;
          
    
      }
      
      .uk-card:hover .uk-card-text{
        color: white !important;
        transition: 100ms ease-in-out;
    }
    .uk-card-text{
        color: transparent !important;
    
    }
    .life-lion-head-text{
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    margin-bottom: 0px !important;
    font-weight: 700;
    font-size: 60px;
    }
    .banner-video{
        background: rgb(0,0,0,0.6)url('https://image.freepik.com/free-photo/black-businessman-suit-practicing-yoga-workplace-close-up_1163-3903.jpg');
        background-size: cover;
        background-blend-mode: darken;
    }
    
     .life-lion-head-1{
        text-align: center;
        color: white;
        font-size: 39px;
        font-weight: 700;
     }
     .life-lion-card{
        /* width: 25%; */
        display: inline-block;
        margin-right: 0;
        /* float: left; */
        margin-bottom: 20px;
        /* text-align: left; */
        /* position: relative; */
        display: flex;
        background-color: white;
        padding: 7px;
        height: 64px;
     }
     .life-lion-card:hover{
         cursor: pointer;
    
     }
     .life-lion-card-image{
         margin-left: auto !important;
         padding: 8px !important;
     }
     .life-lion-card-text{
        /* color: white; */
        /* margin-top: auto; */
        font-size: 11px;
        margin: 0px !important;
        padding: inherit;
     }
     .life-lion{
         /* background:rgb(0,0,0,0.8)url("https://image.freepik.com/free-photo/smiley-pregnant-woman-holding-clipboard-pointing-up-with-copy-space_23-2148765097.jpg"); */
     background: #25486a;
         background-blend-mode: darken;
     /* background-attachment: fixed; */
     background-size: cover;
     background-position: center;
        }


        .videoheading{
          color:white;
          text-align: center;
          font-size: 50px;
          font-weight:bold;
          padding-top:30px;
          padding-bottom: 20px;
        }
        .key{
          background-color: black;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
        }

        .key1{
          background-color: white;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
        }

        @import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* body {
  margin: 0;
  padding: 0;
  font: 14px/20px "Open Sans", sans-serif;
  color: #9B9B9B;
} */
#staff-wrapper {
  height: 600px;
  background: #0e0d0d;
  position: relative;
}
.designation{
  color: white;
}
.staff__block {
  /* max-width: 1250px; */
  padding: 0 10px;
  /* margin: 0 auto; */
  /* position: absolute; */
  /* top: 50%; */
 /* transform: translate(0%,-50%); */
/* height: 500px; */
}
.staff__block .card{
  height: 100%;
}
.staff__block .card img{
  height: 500px !important;
}
.card {
  /* width: 375px; */
  /* float: left; */
  position: relative;
  -webkit-transform: translateY(0);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 100% !important;
}
@media only screen and (min-width: 768px){
  .card:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    z-index: 10;
  }
}
.card:hover:after {
  opacity: 1;
  
}
.card:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 25px 40px -20px #CA6C00;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.image {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}
.image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.image:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
  display: block;
  z-index: 6;
}
.text_holder {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 5;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.text_holder .title {
  margin-bottom: 5px;
  color: #fff;
}
.text_holder_inner {
  padding: 15px 10px;
}
.card.slow_zoom:hover .text_holder {
  bottom: 40%;
}
.card .image_shader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.78);
}
.card.slow_zoom .image_shader {
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
}
.card.slow_zoom:hover .image_shader {
  opacity: 1;
}
.card.slow_zoom .staff_image_holder img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 2s cubic-bezier(0.23, 1, 0.12, 1) 0s;
}
.card.slow_zoom:hover .staff_image_holder img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
}


.js-transitions-disabled12345 * {
  transition: none !important;
}
.carousel12345 {
  /* background-color: #0e0d0d; */
  position: relative;
  height: 100%;
  overflow: hidden;
  perspective: 50vw;
  perspective-origin: 50% 50%;
}
.carousel__control12345 a {
  position: relative;
  display: block;
  width: 35px;
  /* padding-top: 75%; */
  box-sizing: border-box;
}
.carousel__control12345 {
  position: absolute;
  height: 40px;
  /* width: 40px; */
  background: #fff;
  /* right: 0; */
  /* top: 0; */
  bottom: 0;
  left: 50%;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
@media only screen and (max-width: 600px) {
  .carousel__control12345 {
    position: absolute;
    height: 20px !important;
    /* width: 20px; */
    background: #fff;
    /* right: 0; */
    /* top: 0; */
    bottom: 0;
    left: 50%;
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
  }
  .carousel__control12345 a {
    position: relative;
    display: block;
    width: 20px;
    /* padding-top: 75%; */
    box-sizing: border-box;
  }
  
}

.carousel__control12345 a:hover:before {
  background-color: rgba(0,0,0,0.4);
}
.carousel__control12345 a.active:before,
.carousel__control12345 a.active:hover:before {
  background-color: rgba(0,0,0,0.6);
}
.carousel__control12345 a:first-child {
  /* margin-top: 15px; */
}
.carousel__control12345 a:before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  padding-top: 25%;
  width: 25%;
  background: rgba(0,0,0,0.2);
  content: '';
  display: block;
  margin-top: -12.5%;
}
.carousel__stage12345 {
  position: absolute;
  top: -7px;
  bottom: 20px !important;
  left: 20px;
  right: 20px;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateZ(calc(-50vh + 40px));
}
.spinner12345{
  position: absolute;
  width: calc(50vw - (20px));
  /* height: calc(100vh - 40px); */
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 1.15s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform: rotateX(0);
}
.js-spin-fwd12345 .spinner12345{
  transform: rotateX(-90deg);
}
.js-spin-bwd12345 .spinner12345{
  transform: rotateX(90deg);
}
.js-spin-fwd12345 .spinner--right12345 {
  transform: rotateX(90deg);
}
.js-spin-bwd12345 .spinner--right12345 {
  transform: rotateX(-90deg);
}
.spinner--right12345 {
  right: 0;
  left: auto;
}
.spinner__face12345 {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.spinner__face12345.js-next {
  display: block;
  transform: rotateX(90deg) translateZ(calc(50vh - 20px));
}
.spinner--right12345 .spinner__face12345.js-next {
  transform: rotateX(270deg) translateZ(calc(50vh - 20px));
}
.js-spin-bwd12345 .spinner__face12345.js-next {
  transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
}
.js-spin-bwd12345 .spinner--right12345 .spinner__face12345.js-next {
  transform: rotateX(-270deg) translateZ(calc(50vh - 20px));
}
.js-active {
  display: block;
  /* transform: translateZ(calc(50vh - 20px)); */
  transform: translateZ(calc(50vh - 0px));
}
.content12345{
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
}
.spinner--right12345 .content12345{
  left: -100%;
}
.content__left12345,
.content__right12345 {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.content__right12345 {
  right: 0;
  left: auto;
}
.content__left12345 {
  background-repeat: no-repeat;
  background-size: cover;
}
.content__left12345:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
.content__left12345 h1 {
  position: absolute;
  top: 50%;
  margin-top: -3vw;
  text-align: center;
  font-family: oswald;
  font-size: 5vw;
  height: 10vw;
  opacity: 1;
  color: #fff;
  width: 100%;
  letter-spacing: 0.15em;
  line-height: 0.6;
}
.content__left12345 span {
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.2em;
  opacity: 0.9;
  font-family: Merriweather;
}
.content__right12345 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__right12345 .content__main {
  position: absolute;
  font-family: Merriweather, serif;
  text-align: left;
  color: #fff;
  font-size: 1.3vw;
  padding: 0 8vw;
  line-height: 1.65;
  font-weight: 300;
  margin: 0;
  opacity: 0.8;
}
.content__right12345 .content__main p:last-child {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.85em;
}
.content__right12345 .content__index {
  font-size: 30vh;
  position: absolute;
  right: -1vh;
  top: 35vh;
  opacity: 0.04;
  font-family: oswald;
  color: #fff;
}
[data-type="iceland"] .content__left12345 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/iceland.jpg");
}
.spinner--right12345 [data-type="iceland"] .content__left12345 {
  background-image: none;
}
[data-type="china"] .content__left12345 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/china.jpg");
}
.spinner--right12345 [data-type="china"] .content__left12345 {
  background-image: none;
}
[data-type="usa"] .content__left12345 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/usa.jpg");
}
.spinner--right12345 [data-type="usa"] .content__left12345 {
  background-image: none;
}
[data-type="peru"] .content__left12345 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/peru.jpg");
}
.spinner--right12345 [data-type="peru"] .content__left12345 {
  background-image: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
} */

.slider-container {
  position: relative;
  overflow: hidden;
  /* width: 98.75vw; */
  height: 100vh;
}
@media only screen and (max-width:600px){
  .slider-container {
    position: relative;
    overflow: hidden;
    /* width: 98.75vw; */
    height: 300px;
  }
  .slider-container .action-buttons .down-button, .up-button{
    padding: 2px !important;
  }
  .slider-container .left-slide h1{
    font-size: calc(1.375rem + 1.5vw);
  }
}

/* .key3{
  padding-right: 20px; 
} */

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.videoheadingnew{
  color: white;
  font-size:40px;
  font-family: italic;
  font-weight: bold;
  text-align:center;
  margin-top:350px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .desc-new1{
    line-height: 1;
}
#indusCat .life-lion-card{
  flex-direction: column;
  height: fit-content;
}
.life-lion-card-image {
  margin-left: auto !important;
  padding: 8px !important;
  margin-right: auto;
}
}
.desc-new1{
  position: absolute;
  bottom: -140%;
  display: block;
  
  width: 80%;
  left: 50%;
  transform: translateX(-50%);

 

  transition: bottom 0.5s linear;
  color:white !important;
  @media only screen and (max-width: 600px) {
    display: block;
    bottom: 0;
    position: absolute;
}
}