@media all and (min-width: 993px) and (max-width: 1200px) {
#slider-video {
    position: relative;
	}
.slider-wrap{
position:relative;
}
.carousel-caption h2{
font-size:67px;
}
.ab-sec-img img{
width:100%;
position:absolute;
top:22px;
}
.team-desc ul.team-social-icon li {
    padding-right: 10px;

}
.team-desc p{
text-align:justify;
}
.mobilenav li {
    padding: 6px;
	}
	.slide-sec-1 {
    text-align: right;
}
.slide-sec-2 {
    text-align: left;
    padding: 0;
}
}
@media all and (min-width: 767px) and (max-width: 992px) {
#slider-video {
    position: relative;
	}
.slider-wrap{
position:relative;
}
.carousel-caption h2{
font-size:67px;
}
#menu .nav {
    left: 5%;
    float: none;
	top:5px;
}
.nav > li > a {
    padding: 10px 10px;

}
.tab-img {
    top: 0;
	}
.team-main-sec{
margin-top:30px;
}
.blog-sec {
margin-top:30px;
}
.hero-section {
    padding: 18% 0% 0% 0%;
}
.hero-content h1{
font-size:42px;
}
.slider-content h1 {
    font-size: 40px;
    line-height: 55px;
}
.mobilenav li {
    padding: 6px;
	}
		.slide-sec-1 {
    text-align: right;
}
.slide-sec-2 {
    text-align: left;
    padding: 0;
}
.parallex-content h1 {
    font-size: 45px;
	}
.parallex-content {
    top: 25%;
}
}
@media all and (min-width: 480px) and (max-width: 768px) {
    
#slider-video {
    position: relative;
	}
.slider-wrap{
position:relative;
}
.carousel-caption h2{
font-size:45px;
}
.carousel-caption p {
    font-size: 15px;
    line-height: 25px;
	}
	.ab-sec-img img{
width:100%;
}
a.btn-down {
    top: 65px;
	}
	.navbar-nav > li > a {
    padding-top: 0px;
	}
#menu .nav {
 left:0%;
 float:left;
}
.navbar-default .navbar-toggle {
border:1px solid #999;
}
.navbar-default .navbar-toggle .icon-bar {
background:#999;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
background:#FFFFFF;
 transition:all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 -webkit-transition: all 0.5s;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background:#e73131;
 transition:all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 -webkit-transition: all 0.5s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border:rgba(248, 248, 248, 0);
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}
ul.navbar-nav {
float:left;
overflow:hidden;
}
ul.navbar-nav {
 position: relative;
 top:0;
}
.navbar-nav > li > a {
    line-height: 17px;
	}
.navbar-collapse.in{
overflow:hidden;
}
.tab-img {
    top: 0;
	}
	.team-main-sec{
margin-top:30px;
}
.blog-sec {
margin-top:30px;
}
#footer-down ul li {
    margin-right: 10px;
}
.hero-section {
    padding: 18% 0% 0% 0%;
}
.hero-content h1{
font-size:26px;
}
.hero-text{
padding-bottom:5%;
}
a.btn-learn{
top:10px;
}
.slider-content h1 {
    font-size: 36px;
    line-height: 55px;
}
.mobilenav li {
    padding: 6px;
	}
		.slide-sec-1 {
    text-align: right;
}
.slide-sec-2 {
    text-align: left;
    padding: 0;
}
.parallex-content h1 {
    font-size: 32px;
	}
.parallex-content {
    top: 20%;
}
}
@media all and (min-width: 299px) and (max-width: 479px) {
#slider-video {
    position: relative;
	}
	.slider-wrap{
position:relative;
}
.carousel-caption h2{
font-size:45px;
}
.carousel-caption p {
    font-size: 15px;
    line-height: 25px;
	}
	.ab-sec-img img{

}
a.btn-down {
    top: 65px;
	}
#menu .nav {
 left:0%;
 float:left;
}
.navbar-default .navbar-toggle {
border:1px solid #999;
}
.navbar-default .navbar-toggle .icon-bar {
background:#999;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
background:#FFFFFF;
 transition:all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 -webkit-transition: all 0.5s;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background:#e73131;
 transition:all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 -webkit-transition: all 0.5s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border:rgba(248, 248, 248, 0);
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}
ul.navbar-nav {
float:left;
overflow:hidden;
}
ul.navbar-nav {
 position: relative;
 top:0;
}
.navbar-nav > li > a {
    line-height: 17px;
	}
.navbar-collapse.in{
overflow:hidden;
}
.tab-img {
    top: 0;
	}
	.team-main-sec{
margin-top:30px;
}
.slider-content h1 {
    font-size: 36px;
    line-height: 55px;
}
.slider-content h2 {
    font-size: 21px;
    padding: 10px 0px 10px 0px;
}
.blog-sec {
margin-top:30px;
}
.mobilenav li {
    padding: 6px;
	}
.slide-sec-1 {
    text-align: right;
}
.slide-sec-2 {
    text-align: left;
    padding: 0;
}
#footer-down ul li {
    margin-right: 10px;
}
}
