/*
	Cosmix by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
.service-box h5{
	color:white;
}
* {
	margin:0 auto;
}
@font-face {
 font-family: 'helvetica_ce_55_romanregular';
 src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot');
 src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue_ce_55_roman-webfont.woff2') format('woff2'), url('../fonts/helvetica_neue_ce_55_roman-webfont.woff') format('woff'), url('../fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'), url('../fonts/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'open_sansregular';
 src: url('../fonts/opensans-regular-webfont.eot');
 src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	/* font-family: 'helvetica_ce_55_romanregular'; */
	font-family: 'Yantramanav', sans-serif !important;
	overflow-x: hidden;
}
/*for-section-text-start-here*/
::selection {
 background: #e73131; /* WebKit/Blink Browsers */
 color:#fff;
}
::-webkit-selection {
background-color: #e73131;
color: #FFF;
}
::-ms-selection {
background-color: #e73131;
color: #FFF;
}
::-o-selection {
background-color: #e73131;
color: #FFF;
}
::-moz-selection {
background-color: #e73131;
color: #FFF;
}
/* ========================================================================
  Hover animation 
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
 25% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 75% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
}
@keyframes hvr-pulse {
 25% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 75% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/* ========================================================================
  Hover End 
 ========================================================================== */
#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}
#pre-status, .preload-placeholder {
	background-image:url(../preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 296px;
	left: 38%;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 32%;
	width: 296px;
}
.preload-placeholder {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%;
}
.parallex {
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
p {
	font-size:15px;
	color:#9a9a9a;
	font-weight:bolder;
	line-height:25px;
	font-family:'Yantramanav', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
 /* font-family: 'poppins'; */
 font-family: 'Yantramanav', sans-serif;
}
h1 {
	color:#fff;
	font-size:51px;
	text-transform:uppercase;
}
h2 {
	color:#555;
	font-size:35px;
	text-transform:uppercase;
	font-weight:bolder;
}
h3 {
	color:#333;
	font-size:23px;
}
h4 {
	color:#555;
	font-size:21px;
	text-transform:uppercase;
}
h5 {
	color:#333;
	font-size:18px;
}
h6 {
	font-size:16px;
}
strong {
	font-weight:bolder;
}
span {
	color:#e73131;
}
.space {
	margin:30px 0px;
}
.line {
	border:1px solid #fff;
	width:15%;
	margin-left: -15rem;

}
.linev {
	border:1px solid #e73131;
	width:15%;
	margin-left: 20rem;

}
a:hover, a:focus {
	text-decoration:none;
}
a.btn-down {
	height:50px;
	width:50px;
	color:#fff;
	border:2px solid #fff;
	padding:5% 10%;
	position: relative;
	top: 35px;
	font-size: 17px;
}
a.btn-down:hover {
	background:#fff;
	color:#e73131;
	transition:all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a.btn-order {
	height: 50px;
	width: 50px;
	color: #e73131;
	border: 2px solid #e73131;
	padding: 3% 5%;
	font-size: 15px;
	position: relative;
	top: 5px;
}
a.btn-order:hover {
	background:#e73131;
	color:#fff;
	transition:all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a.btn-send {
	color: #e73131;
	border: 2px solid #e73131;
	padding: 2% 0%;
	font-size: 15px;
}
a.btn-send:hover {
	background:#e73131;
	color:#fff;
	transition:all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
/*Navigation-stylesheets-include-here*/
.navbar-default {
	background:rgba(248, 248, 248, 0);
	border:rgba(248, 248, 248, 0);
	padding:5px 5px;
}
a.navbar-brand img {
	position:relative;
	top:9px;
}
#menu {
	position:absolute;
}
#menu .nav {
	left: 25%;
	position: relative;
}
#menu ul.nav li a {
	font-size:15px;
	color:#fff;
}
#menu .nav > li > a {
	background:none;
	color: #fff;
}
#menu ul.nav li a:hover, #menu ul.nav li a.active {
	color:#e73131;
	transition:all 0.4s;
}
#menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#e73131;
	background:transparent;
}
a.navbar-brand {
	padding:0px;
	margin-top:-3px;
}
ul.nav li.active a:before {
	opacity:1;
}
.on {
	background:rgba(0, 0, 0, 0.8);
	transition:all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
/*Slider-stylesheets-include-here*/

	#home-carousel .item {
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height: 650px;
}
#home-carousel .item:before {
	background-color: #000;
	content: "";
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	position: absolute;
	width: 100%;
}
.carousel-caption {
	left: 15px;
	right: 15px;
	top: 50%;
	font-size: 15px;
	text-align: left;
	color: #fff;
	text-shadow: none;
	margin-top: -130px;
}
.carousel-caption h1 {
	font-size:35px;
	margin-bottom:10px;
	letter-spacing:2px;
	font-weight:100;
}
.carousel-caption h2 {
	color:#fff;
	font-size:75px;
	font-weight:600;
	margin-top:0px;
	text-transform:none;
	letter-spacing:2px;
	margin-bottom:20px;
}
.carousel-caption p {
	color:#FFFFFF;
	font-size:17px;
	font-weight:normal;
	line-height:27px;
}
.home-carousel-left, .home-carousel-right {
	background-color: #e73131;
	color:#fff;
	font-size: 32px;
	height: 40px;
	line-height: 40px;
	margin-top: -20px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 32px;
	z-index: 999;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}
.home-carousel-left {
	left:-32px;
}
.home-carousel-right {
	right:-32px;
}
#home-carousel:hover .home-carousel-left {
	left:0;
}
#home-carousel:hover .home-carousel-right {
	right:0;
}
/* Carousel animation */

	#home-carousel .item h1, #home-carousel .item h2, #home-carousel .item p {
	opacity:0;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
#home-carousel .item h1 {
	-webkit-transition: all 0.5s ease-in-out 0.15s;
	-moz-transition: all 0.5s ease-in-out 0.15s;
	-ms-transition: all 0.5s ease-in-out 0.15s;
	-o-transition: all 0.5s ease-in-out 0.15s;
	transition: all 0.5s ease-in-out 0.15s;
}
#home-carousel .item.active h1, #home-carousel .item.active h2, #home-carousel .item.active p {
	opacity:1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
#home-carousel .item h2 {
	-webkit-transition: all 0.5s ease-in-out 0.30s;
	-moz-transition: all 0.5s ease-in-out 0.30s;
	-ms-transition: all 0.5s ease-in-out 0.30s;
	-o-transition: all 0.5s ease-in-out 0.30s;
	transition: all 0.5s ease-in-out 0.30s;
}
#home-carousel .item p {
	-webkit-transition: all 0.5s ease-in-out 0.45s;
	-moz-transition: all 0.5s ease-in-out 0.45s;
	-ms-transition: all 0.5s ease-in-out 0.45s;
	-o-transition: all 0.5s ease-in-out 0.45s;
	transition: all 0.5s ease-in-out 0.45s;
}
/*About-stylesheets-include-here*/
#about {
	padding:3% 0%;
}
#about .heading {
	text-align:center;
	
}
.heading h2 {
	font-family: 'Poppins';
	font-size: 70px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #043a5b;
    text-transform: uppercase;
	text-align: left;
	margin-left: -17rem;
	letter-spacing: -3px;
}

.heading p {
	padding:20px 0px;
	font-size:15px;
	font-weight:bolder;
	color:rgb(114, 112, 112);
}
.headingl h2 {
	font-family: 'helvetica_ce_55_romanregular';
	font-size: 38px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #043A5B;
    text-transform: uppercase;
	text-align: left;
	margin-left: 20rem;
}

.headingl p {
	padding:20px 0px;
	font-size:13px;
	font-weight:bolder;
	color:rgb(114, 112, 112);
}
.ab-sec {
	text-align:justify;
}
.ab-sec h3 {
	font-weight:bolder;
}
.ab-sec p {
	padding:10px 0px;
	font-size:15px;
}
/*Background-stylesheets-include-here*/
.bg-sec {
	background:#e73131;
	margin-top:10px;
	padding: 1% 0%;
}
.bg-sec h3 {
	color:#FFFFFF;
	text-transform:none;
	font-weight:bolder;
}
.bg-sec p {
	color:#FFFFFF;
}
/*Service-stylesheets-include-here*/
#service {
	text-align:center;
	padding:2% 0%;
	background: #043a5b;
}
#features-sec {
	padding: 100px 0;
}
#features-sec .media.service-box:first-child {
	margin-top: 80px;
}
#services {
	padding: 100px 0 75px;
}
.media.service-box {
	margin: 25px 0;
}
.media.service-box .pull-left {
	margin-right: 20px;
}
.media.service-box .pull-left > i {
	font-size: 24px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	width: 64px;
	border-radius: 100%;
	color: #C6252B;
	border:1px solid #d7d7d7;
	transition: background-color 400ms, background-color 400ms;
	position: relative;
}
.media.service-box:hover .pull-left > i {
	background:#e73131;
	color:#fff;
	transform:rotateY(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-webkittransform:rotate(360deg);
	transition:all 0.5s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-webkit-transition: all 0.8s;
}
.media-body h5 {
	font-weight:bolder;
	text-align:left;
}
.media-body p {
	text-align:justify;
}
/*Experience-stylesheets-include-here*/
.experience {
	margin-top:30px;
}
.progress {
	height: 20px;
	background-color: #d7d7d7;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 25px;
}
.progress-bar {
	box-shadow: none;
	-webkit-box-shadow: none;
	text-align: right;
	padding-right: 12px;
	font-size: 12px;
	font-weight: 600;
	background:#e73131;
}
.progress .progress-bar.six-sec-ease-in-out {
	-webkit-transition: width 2s ease-in-out;
	transition:  width 2s ease-in-out;
}
.lead {
	font-size:16px;
	font-weight: bold;
	text-align: left;
}
/*Features-stylesheets-include-here*/
#features {
	text-align:center;
	padding:2% 0%;
}
#features .nav-tabs {
	display: inline-block;
	margin-top:20px;
}
.tab p {
	text-align:justify;
}
#features .nav-tabs > li.active > a, #features .nav-tabs > li.active > a:hover, #features .nav-tabs > li.active > a:focus {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .26);
	border-bottom:2px solid #e73131;
	background:#043A5B;
}
#features .nav-tabs > li > a {
	color:#555;
	margin-right:0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .26);
	background-color: #fff;
	border-right: 1px solid #e0e0e0;
	border-radius:0px;
	border-bottom:1px solid #FFFFFF;
	width: 110px;
	padding: 0;
	height: 80px;
	line-height: 80px;
	font-size: 32px;
}
#features .nav-tabs > li > a i.fa {
	font-size:25px;
}
#features .nav-tabs > li.active > a i.fa {
	color:#fff;
}
#features .nav-tabs > li > a:hover {
	border-color:transparent;
	border-right: 1px solid #e0e0e0;
}
#features p.feat-sec-1 {
	padding-top:10px;
}
#features .tab-content .feat-sec {
	margin-top:10px;
}
#features .tab-content h5 {
	text-align:left;
	font-weight:bolder;
}
#features .tab-content .line {
	float:left;
}
.tab {
	margin-top:20px;
}
.tab-img {
	position:relative;
	top:50px;
}
/*Portfolio-stylesheets-include-here*/
#portfolio {
	padding: 2% 0%;
	background: #333331;
	text-align:center;
}
#portfolio .portfolio-filter {
	list-style: none;
	padding: 0;
	margin: 0 0 50px;
	display: inline-block;
}
#portfolio .portfolio-filter > li {
	float: left;
	display: block;
}
#portfolio .portfolio-filter > li a {
	display: block;
	padding: 7px 15px;
	background: #e5e5e5;
	color: #64686d;
	position: relative;
}
#portfolio .portfolio-filter > li a:hover, #portfolio .portfolio-filter > li a.active {
	background: #e73131;
	color: #fff;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.portfolio-items p {
	color:#fff;
	font-weight:normal;
}
#portfolio .portfolio-filter > li a.active:after {
	content: " ";
	position: absolute;
	bottom: -17px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: #e73131 transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
	border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
	border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-item {
	margin-bottom:20px;
}
#portfolio .portfolio-item .portfolio-item-inner {
	position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
	opacity: 0;
	position: absolute;
	top:45%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	color: #fff;
	background:rgba( 0, 0, 0, 0.7);
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
	font-size: 16px;
	line-height: 1;
	margin: 0;
	color: #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
	opacity: 1;
	transition:all 0.5s;
}
#portfolio .portfolio-item:hover .portfolio-info i.fa {
	font-size:30px;
	color:#e73131;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
/*Pricing-stylesheets-include-here*/
#pricing {
	padding: 4% 0% 0% 2%;
	text-align:center
}
#pricing ul.pricing {
	list-style: none;
	padding: 0;
	margin: 70px 0 30px;
	border: 1px solid #eee;
	border-radius: 5px 5px 4px 4px;
	padding: 15px;
	text-align: center;
}
#pricing ul.pricing:hover {
	box-shadow: 0 8px 8px rgba(0, 0, 0, .26);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#pricing ul.pricing li {
	display: block;
	padding: 10px;
	color:#666;
}
#pricing ul.pricing li.plan-header {
	background: #f8f8f8;
	border-radius: 4px 4px 0 0;
	margin: -15px -15px 10px;
	padding: 15px 15px 30px;
	border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
	position: relative;
	margin-top: -63px;
	top: -10px;
	display: inline-block;
	width: 116px;
	height: 116px;
	background-image: -moz-linear-gradient(90deg, #e73131 0%, #e73131 100%);
	background-image: -webkit-linear-gradient(90deg, #e73131 0%, #e73131 100%);
	background-image: -ms-linear-gradient(90deg, #e73131 0%, #e73131 100%);
	color: #fff;
	border-radius: 100px;
	border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration {
	display: block;
	line-height: 1;
}
#pricing ul.pricing strong {
	font-size:14px;
}
#pricing ul.pricing li.plan-header .price-duration > .price {
	font-size: 24px;
	font-weight: 700;
	margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > .duration {
	margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
	margin-top: 10px;
	font-size: 21px;
	color: #444;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}
#pricing ul.pricing.featured {
	background: #222534;
	color: #fff;
	border: 0;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
	color: #fff;
}
/*Team-stylesheets-include-here*/
#team {
	text-align:center;
	padding:2% 0%;
}
.team-desc {
	padding:15px 10px 15px 10px;
}
.team-main-sec:hover {
	box-shadow: 0 8px 8px rgba(0, 0, 0, .26);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.team-sec {
	border:1px solid #eee;
}
.team-main-sec:hover .team-sec {
	border:1px solid #fff;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.team-main-sec:hover h5 {
	color:#e73131;
}
.team-sec h5 {
	color:#555;
	text-transform:uppercase;
}
.team-social-icon {
	margin-top:20px;
}
.team-desc ul.team-social-icon li {
	display:inline-block;
	padding-right:20px;
}
.team-desc ul.team-social-icon li a i.fa {
	font-size:20px;
	color:#999;
}
.team-desc ul.team-social-icon li a i.fa:hover.fa-facebook-f {
	color:#3b5998;
}
.team-desc ul.team-social-icon li a i.fa:hover.fa-twitter {
	color:#55acee;
}
.team-desc ul.team-social-icon li a i.fa:hover.fa-pinterest-p {
	color:#bd081c;
}
.team-desc ul.team-social-icon li a i.fa:hover.fa-instagram {
	color:#3f729b;
}
.team-desc ul.team-social-icon li a i.fa:hover.fa-google-plus {
	color:#dc4e41;
}
/*Testimonials-stylesheets-include-here*/
#testimonials {
	background-image:url(../images/Testimonials/01.jpg);
	height:450px;
	text-align:center;
}
#testimonials .owl-theme .owl-controls .owl-page span{
background:#e73131;
}
.quote {
	position:relative;
	top:40px;
}
.quote i.fa {
	font-size:35px;
	color:#FFFFFF;
}
#owl-testi {
	position:relative;
	top:65px;
}
#owl-testi p {
	color:#FFFFFF;
	font-weight:normal;
}
#owl-testi h5 {
	color:#FFFFFF;
	line-height:30px;
	padding-top:20px;
}
#owl-testi h6 {
	color:#FFFFFF;
	padding-top:20px;
}
/*Fun-Facts-stylesheets-include-here*/
#fun-facts {
	background-color: #f8f8f8;
	padding:3% 0%;
}
#fun-facts .fun-fact {
	border-right: 1px solid #ddd;
}
#fun-facts .col-md-3:last-child .fun-fact {
	border-right: 0px solid #ddd;
}
#fun-facts .fun-fact i {
	margin-right: 5px;
	color:#666;
}
#fun-facts .fun-fact h6 {
	color:#555;
	font-weight:bolder;
}
/*Blog-stylesheets-include-here*/
#blog {
	text-align:center;
	padding:3% 0% 0% 2%;
}
.blog-info {
	text-align:left;
}
.blog-info h5 {
	font-weight:bold;
	padding-top:10px;
}
.blog-info i.fa {
	float:left;
	margin-right:10px;
	color:#777;
}
.blog-info h6 {
	margin:0;
	color:#666;
	float:left;
}
.blog-info h6:hover, .blog-info h5:hover {
	color:#e73131;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.data-meta {
	background:#444;
	font-size: 15px;
	color: #FFF;
	text-align: center;
	position: absolute;
	top: 0;
	padding: 6px 15px
}
.data-meta h4 {
	color:#FFFFFF;
	margin:0;
	font-size:18px;
	font-weight:bold;
}
a.btn-blg {
	color:#666;
}
a.btn-blg:hover {
	color:#e73131;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.blog-info p {
	text-align:justify;
	padding-top:5px;
}
.blog-info ul.blog-icon {
	margin:0;
	padding:0;
}
.blog-info ul li {
	display:inline-block;
}
.blog-info ul li.comment {
	margin-left:10px;
}
/*Client-stylesheets-include-here*/
#client {
	text-align:center;
	position:relative;
	padding:70px 0px 10px 0px;
}
.client-logo a {
	opacity:0.4;
	display:table;
	margin:0 auto;
}
.client-logo a:hover {
	opacity:1;
	transition:all 0.5s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-webkit-transition: all 0.8s;
}
/*Contact-stylesheets-include-here*/
#contact {
	text-align:center;
	padding:3% 0% 0% 2%;
}
.contact-sec-1 {
	text-align:left;
}
.contact-sec-1 h4 {
	font-weight:bold;
}
.contact-sec-1 ul.contact-form li i.fa {
	color:#666;
	float:left;
	margin-right:10px;
}
.contact-sec-1 ul.contact-form li h6 {
	font-size:14px;
	color:#666;
	margin:0;
}
.contact-sec-1 ul {
	padding:0;
	position: relative;
	top: 20px;
}
.contact-sec-1 ul li {
	display:block;
	padding-bottom: 30px;
}
.contact-sec-1 ul li a {
	color:#666;
}
.contact-sec-1 ul li a:hover {
	color:#e73131;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
label {
	font-size:15px;
	font-weight:normal;
	float:left;
	margin:0px 0px 20px 0px;
}
.form-group {
	margin-bottom: 30px;
}
textarea.form-control {
	min-height: 120px;
	resize: none;
}
.form-control {
	border: 1px solid #ccc;
	height: 35px;
	border-radius: 0;
	box-shadow: none;
}


/*Index-1-Stylesheets-End-Here*/



/*Index-3-Stylesheets-Start-Here*/

/*Full-screen-menu-stylesheet-include-here*/
.top-animate {
  background: #e73131 !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #e73131 !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #e73131;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 45px;
  right: 115px;
}
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 220%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
.mobilenav li:last-child div {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.nav-label {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: block;
  width: 350px;
  margin: 0 auto;
}
.mobilenav li:first-child {
  margin-top: 60px;
}
.slider-content{
position:absolute;
    left: 5%;
    right: 15px;
    top: 27%;
    font-size: 15px;
    text-align:center;
    color: #fff;
    text-shadow: none;
}
.slider-content h1{
font-size:51px;
text-transform:uppercase;
font-weight:bolder;
line-height:80px;
}
.slider-content h2{
font-size:25px;
color:#FFFFFF;
font-weight:bolder;
padding:10px 0px 20px 0px;
}
.slider-content p{
color:#fff;
font-size:16px;
font-weight:inherit;
line-height:30px;
}
/*Index-3-Stylesheets-End-Here*/

/*Index-4-Stylesheets-Start-Here*/
#slider-video {
    position: relative;
	}
.hero-section {
    height: 100%;
	padding:18% 0% 11% 0%;
    overflow: hidden;
	}
	.hero-content {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
.hero-text {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    width: 100%;
    padding-bottom: 10%;
	}
.hero-text h5{
color:#FFFFFF;
text-transform:none;
padding-top:15px;
}
	.video-background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.video-background {
    width: 100%;
}
.parallax-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../images/banner/overaly.png")repeat;
}
a.btn-learn {
	height: 50px;
	width: 50px;
	color: #e73131;
	border: 2px solid #e73131;
	padding: 1% 2%;
	font-size: 15px;
	position: relative;
	top: 40px;
}
a.btn-learn:hover {
	background:#e73131;
	color:#fff;
	transition:all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
/*Index-4-Stylesheets-End-Here*/

/*Index-5-Stylesheets-Start-Here*/
#slider-parallax .owl-theme .owl-controls .owl-page span{
background:none;
}
#slider-parallax {
  background:url(../images/Slider/10.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  margin: auto;
}
#slider-parallax {
  height: 680px;
}
.parallex-content{
position:absolute;
    left: 5%;
    right: 15px;
    top: 35%;
    font-size: 15px;
    text-align:center;
    color: #fff;
    text-shadow: none;
}
.slide-sec{
}

.slide-sec-1{
text-align:right;
}
.slide-sec-2{
text-align:left;
padding:0;
}
.parallex-content h1{
font-size:51px;
text-transform:uppercase;
font-weight:bolder;
line-height:80px;
}
.parallex-content h2{
color:#FFFFFF;
text-transform:uppercase;
font-weight:bolder;
}
.line-parallex {
	border:2px solid #fff;
	width:15%;
	margin-bottom:30px;
}
.parallex-content h6{
color:#fff;
}

/*Basic-Stylesheets-End-Here*/
.wrapper{
    width:100%;
    max-width:1080px;
}
 .examples{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
 .examples > *{
    margin:8px;
    max-width:330px;
}
 h4{
    font-size:1.4em;
}
 a{
    color:#059BC6;
}
 .text{
    color:#fff;
    text-align:center;
    margin-bottom:30px;
}
 .text h2{
    font-weight:300;
    font-size:2em;
    text-transform:capitalize;
}
 .text h3{
    font-weight:300;
    font-size:1.3em;
}
 .text strong{
    font-weight:700;
    color:#059BC6;
}
/*! CSS Used from izmir.css */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1227 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* width: 315px; */
  /* height: 400px; */
  min-width: 230px;
  max-width: 380px;
  max-height: 315px;
  
  width: 100%;
  background: #000000;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1227 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
figure.snip1227 img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
figure.snip1227 figcaption {
  position: absolute;
  top: 25px;
  left: 25px;
  bottom: 25px;
  right: 25px;
  display: block;
}
figure.snip1227 figcaption:before {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  display: block;
  top: 0;
  left: 0;
  width: 0;
  content: '';
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
figure.snip1227 h3,
figure.snip1227 p {
  opacity: 0;
  color: #ffffff;
}
figure.snip1227 h3 {
  text-transform: uppercase;
  margin: 0;
  line-height: 50px;
  padding: 0 15px;
  font-weight: 400;
}
figure.snip1227 h3 span {
  font-weight: 800;
}
figure.snip1227 p {
  padding: 15px 15px;
  text-align: left;
  margin: 0;
}
figure.snip1227 i {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 34px;
  color: #000000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding:5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
figure.snip1227 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1227:hover img,
figure.snip1227.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1227:hover figcaption:before,
figure.snip1227.hover figcaption:before {
  -webkit-animation: animateIn1227 0.7s 0.35s forwards ease;
  animation: animateIn1227 0.7s 0.35s forwards ease;
}
figure.snip1227:hover h3,
figure.snip1227.hover h3,
figure.snip1227:hover p,
figure.snip1227.hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
figure.snip1227:hover i,
figure.snip1227.hover i {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
@-webkit-keyframes animateIn1227 {
  0% {
    opacity: 0;
    width: 0%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  50% {
    opacity: 1;
    width: 0%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    opacity: 1;
    width: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}
@keyframes animateIn1227 {
  0% {
    opacity: 0;
    width: 0%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  40% {
    opacity: 1;
    width: 0%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    opacity: 1;
    width: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

/* slider */
.imga
    {
      position: relative;
      top: 0;
      left: 0;
	  height: 60vh;
    }
    .imgb
    {
      position: absolute;
      top: 200px;
      left: 250px;
	  height: 40vh;
    }
	

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
	border-radius: 70px;
	transition: 0.5s all ease-in-out;
	margin-left: 20rem;
}
.img-responsive:hover {
	transform: scale(1.1);
}



.container-fluid {
	max-width: 1400px;
}
.header {
	padding: 30px 65px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 113px;
	z-index: 10;
	mix-blend-mode: exclusion;
	filter: invert(65%);
}
.header__logo {
	width: 50px;
}
.header__logo img {
	width: 100%;
}
.header__menu {
	position: absolute;
	top: 30px;
	right: 65px;
	width: 50px;
	cursor: pointer;
}
.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}
.slider-wrapper {
	position: relative;
	width: 90%;
	max-width: 1024px;
	margin: 2em auto;
   /* hide horizontal scrollbar on IE11 */
	overflow-x: hidden;
	padding: 30px 65px;
}
.slider > li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
   /* hide vertical scrollbar on IE11 */
	overflow: hidden;
}
.slider > li.visible {
	position: relative;
	z-index: 2;
	opacity: 1;
}
.slider > li.visible .text span.text__word {
	opacity: 0;
}
.slider > li.is-animating {
	z-index: 3;
	opacity: 1;
}
.slider__info {
	margin-left: 65px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	color: #fff;
}
.slider__title {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 7px;
	overflow: hidden;
}
.slider__title span {
	display: block;
}
.slider__desc {
	font-size: 10px;
	overflow: hidden;
}
.slider__desc span {
	display: block;
}
.slider__site {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
.slider__visit {
	display: block;
	margin-right: 32px;
}
.slider__link {
	padding-right: 32px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 32px;
	color: #fff;
	text-align: right;
	font-size: 10px;
	overflow: hidden;
}
.slider__link a {
	color: #fff;
	overflow: hidden;
	display: block;
}
.slider__link a:hover, .slider__link a:focus {
	text-decoration: none;
}
.slider__link .arrow {
	position: relative;
	right: 0;
}
.slider image {
	pointer-events: none;
	transform-origin: 50% 50%;
}
.slider .svg-wrapper {
   /* using padding Hack to fix bug on IE - svg height not properly calculated */
	height: 0;
	padding-bottom: 57.15%;
}
.slider-wrapper {
	width: 100%;
	height: calc(100% + 9px);
	padding: 0;
	margin: -9px 0 0;
	max-width: 100%;
	overflow: hidden;
}
.slider-wrapper ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.slider-wrapper ul.animate {
	top: 100px;
	right: 120px;
	left: 120px;
	bottom: 100px;
}
.slider-wrapper svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* -------------------------------- Slider navigation -------------------------------- */
.slider-navigation li {
	position: absolute;
	z-index: 3;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	height: 48px;
	width: 48px;
}
.slider-navigation li a {
	display: block;
	height: 100%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}
.no-touch .slider-navigation li a:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.slider-navigation li:last-of-type {
	left: 10px;
	right: auto;
}
.slider-navigation li:last-of-type a {
	background-position: -48px 0;
}
/* -------------------------------- Slider dots/controls -------------------------------- */
.slider-controls {
	position: absolute;
	bottom: 20px;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 3;
	text-align: center;
	width: 90%;
	mix-blend-mode: exclusion;
	-webkit-filter: invert(65%);
	filter: invert(65%);
}
.slider-controls::after {
	clear: both;
	content: "";
	display: table;
}
.slider-controls li {
	display: inline-block;
	margin-right: 10px;
}
.slider-controls li:last-of-type {
	margin-right: 0;
}
.slider-controls li.selected a {
	background-color: #fff;
}
.slider-controls a {
	display: block;
   /* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
}
.no-touch .slider-controls a:hover {
	background-color: #fff;
}
.text__first, .text__second {
	position: relative;
}
.text__word {
	opacity: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slider {
	position: relative;
	height: 100vh;
}
.slider__slides {
	z-index: 1;
	position: relative;
	height: 100%;
}

.slider__control {
	z-index: 2;
	position: absolute;
	top: 35%;
	left: 5%;
	width: 40px;
	height: 40px;
	margin-left: -30px;
	margin-top: 90px;
	border-radius: 50%;
	background: rgba(160, 156, 156, 0.281);
	transition: background-color 0.3s;
	cursor: pointer;
}
@media screen and (max-width:600px) {
	.slider__control{
		margin-left:unset !important;
	}
	.slider__control--right{
		left: 83% !important;
	}
	.ab-sec > div{
		margin-left: 0 !important;
	}
	.imgb{
		width: 100% !important;
		left: unset !important;
	}
	#features .nav-tabs{
		justify-content: center !important;
	}
}
.slider__control--right {
	left: 95%;
}
.slider__control:hover {
	background-color: #2da6ff;
}
.slider__control-line {
	position: absolute;
	left: 15px;
	top: 50%;
	width: 3px;
	height: 14px;
	transform-origin: 50% 0;
	transform: rotate(-45deg);
}
.slider__control-line:nth-child(2) {
	transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
	left: 25px;
	transform-origin: 1px 0;
	transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
	transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #e2e2e2;
	transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
	background-color: #fff;
}
.slider__control.a--rotation .slider__control-line:after {
	animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
	animation: arrowLineRotationRev 0.49s;
}
@keyframes arrowLineRotation {
	to {
		transform: rotate(180deg);
   }
}
@keyframes arrowLineRotationRev {
	to {
		transform: rotate(-180deg);
   }
}
.slide {
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150vmax;
	height: 150vmax;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: clip-path 0s 0.91s;
	clip-path: circle(30px at 120vw 50%);
}
.slide.s--prev {
	clip-path: circle(30px at 30vw 50%);
}
.slide.s--active {
	z-index: 1;
	transition: clip-path 1.3s;
	clip-path: circle(120vmax at 120vw 50%);
}
.slide.s--active.s--active-prev {
	clip-path: circle(120vmax at 30vw 50%);
}
.slide:nth-child(1) .slide__inner {
	background-image: url("/lion eng/images/Slider/01.jpg");
}
.slide:nth-child(2) .slide__inner {
	background-image: url("/lion eng/images/Slider/02.jpg");
}
.slide:nth-child(3) .slide__inner {
	background-image: url("/lion eng/images/Slider/03.jpg");
}
.slide:nth-child(4) .slide__inner {
	background-image: url("/lion eng/images/Slider/10.jpg");
}
.slide:nth-child(5) .slide__inner {
	background-image: url("/lion eng/images/Slider/04.jpg");
}
.slide__inner {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100vw;
	height: 100vh;
	margin-left: -50vw;
	margin-top: -50vh;
	background-size: cover;
	background-position: center center;
}
.slide__inner:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.slide__content {
	position: absolute;
	/* left: 35%; */
	/* margin-left: -95px; */
	/* margin-top: 200px; */
	/* max-width: 730px; */
	width: 80%;
	color: #fff;

	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.slide__heading {
	margin-bottom: 20px;
	font-size: 55px;
	 color: white;
	 font-family: poppins;
	 font-weight: 600;
}
.slide__text {
	font-size: 25px;
	color: white;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 900;
}
.slide__text a {
	color: inherit;
}
.text__first-bg, .text__second-bg {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	transform-origin: left;
	transform: scaleX(0);
}
.text__first-bg {
	background-color: #5fbff9;
}
.text__second-bg {
	background-color: #f06543;
}
.thumb{
	width: 33.33%;
}
@media screen and (max-width: 1024px) {
	.img-responsive {
		/* margin-left: 0; */
		margin: auto;
  }
  .imga{
	display: none;
}
.imgb{
	position: unset !important;
}
.ab-sec div{
	margin-left: 0 !important;
}
}
@media screen and (max-width:992px) {
	.ab-sec div{
		margin-left: 0 !important;
	}
	.heading h2{
		margin-left: 0;
	}
	.imga{
		display: none;
	}
	.imgb{
		position: unset !important;
	}
	
	#portfolioContainer{
		flex-wrap: nowrap !important;
		overflow-x: scroll;
		margin-bottom: 5rem;
	}
	#portfolioContainer::-webkit-scrollbar{
		display: none;
	}
	figure.snip1227{
		margin: 0 !important;
	}
	.thumb{
		width: 250px;
		height: 350px;
	}
	figure.snip1227 {
		min-height: 350px;
	}
	figure.snip1227 img{
		height: 350px;
	}
}
@media only screen and (max-width: 480px){

	html,body{
		overflow-x: hidden;
	}

	.slide__heading {
	  font-size: 24px;
	  text-align: center;
	  
	}
	.slide__text {
		font-size: 16px;
		text-align: center;
	}
	.heading h2{
		margin-left: 0;
		font-size: 40px;
	}
	.imgb{
		position: relative	;
		top: 0;
		left: -14rem;
	}
	.imga{
		display: none;
	}
	.line{
		margin-left: 2rem;
		width: 10%;
	}
	h3{
		font-size: 18px;
	}
	.container{
		/* padding-right: 87rem; */
	
	}
	.img-responsive {
		margin-left: 0;
  }
  #features .nav-tabs {
	position: relative;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}
}