@media only screen and (max-width: 1400px) {
    .csr-beyond {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100%;
        width: 100%;
        margin: auto;
        overflow: hidden;
      }
      .csr-beyond__image {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        background-image: url("/aboutus/images/aerial-view-business-team.jpg");
        background-size: cover;
        transition: ease-in-out 0.3s;
        z-index: 2;
      }
      .csr-beyond__image:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
    
        margin: auto;
        background: inherit;
        background-position: bottom;
        filter: blur(40px) saturate(0%);
        transform: scaleX(0.4);
        transition: ease-in-out 0.4s;
        border-radius: 120px;
        transform-origin: right;
        opacity: 0;
        z-index: -1;
      }
      .csr-beyond__image .csr-beyond__info {
        position: relative;
        line-height: 1.8;
        transition: ease-in-out 0.3s;
        opacity: 0;
    
      }
      .csr-beyond__image .csr-beyond__location {
        transition-delay: 0.15s;
      }
      .csr-beyond__image:hover {
        border-radius: 0;
        width: 600px;
        height: 350px;
        border-radius: 10px;
    
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
      }
      .csr-beyond__image:hover:before {
        width: 100%;
        /* opacity: 0.18; */
        /* filter: blur(10px) saturate(100%); */
        transform: scale(2.8) translate3d(-18%, 0px, 0px);
      }
      .csr-beyond__image:hover .csr-beyond__info {
        transform: translate3d(101%, 0px, 0px);
        opacity: 1;
        width: 569px;
        /* padding-left: 56px; */
        
    
      }
      
      .link {
        border-bottom: 1px solid transparent;
        color: #06C0A8;
        text-decoration: none;
        transition: ease-in 0.13s;
      }
      .link:hover {
        background-color: #06C0A8;
        color: #ffffff;
      }
      .csr-head{
          margin-top: 25px;
          margin-bottom: 25px;
      }
    .csr-beyond-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        width: 100%;
        margin: auto;
        overflow: hidden;
      }
      .csr-beyond__image-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        background-image: url("/aboutus/images/aerial-view-business-team.jpg");
        background-size: cover;
        transition: ease-in-out 0.3s;
        z-index: 2;
      }
      .csr-beyond__image-1:before {
        content: " ";
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
    
        bottom: 0;
        left: 0;
        margin: auto;
        background: inherit;
        background-position: bottom;
        filter: blur(40px) saturate(0%);
        transform: scaleX(0.4);
        transition: ease-in-out 0.4s;
        border-radius: 120px;
        transform-origin: right;
        opacity: 0;
        z-index: -1;
      }
      .csr-beyond__image-1 .csr-beyond__info-1 {
        position: relative;
        line-height: 1.8;
        transition: ease-in-out 0.3s;
        opacity: 0;
        width: 596px;
        padding-right: 137px;
        
      }
      .csr-beyond__image-1 .csr-beyond__location-1 {
        transition-delay: 0.15s;
      }
      .csr-beyond__image-1:hover {
        border-radius: 0;
        width: 600px;
        height: 350px;
        border-radius: 10px;
    
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
      }
      .csr-beyond__image-1:hover:before {
        width: 100%;
        /* opacity: 0.18; */
        /* filter: blur(10px) saturate(100%); */
        transform: scale(2.8) translate3d(-18%, 0px, 0px);
      }
      .csr-beyond__image-1:hover .csr-beyond__info-1 {
        transform: translate3d(-85%, 0px, 0px);
        opacity: 1;
      }
      
      .link-1 {
        border-bottom: 1px solid transparent;
        color: #06C0A8;
        text-decoration: none;
        transition: ease-in 0.13s;
      }
      .link-1:hover {
        background-color: #06C0A8;
        color: #ffffff;
      }
  }
@media only screen and (max-width: 1200px) {
    .banner-head-1-img {
        margin-top: 84px;
    }
    .csr-beyond {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100%;
        width: 100%;
        margin: auto;
        overflow: hidden;
      }
      .csr-beyond__image {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 350px;
        border-radius: 10px;
        background-image: url("/aboutus/images/aerial-view-business-team.jpg");
        background-size: cover;
        transition: ease-in-out 0.3s;
        z-index: 2;
      }
      .csr-beyond__image:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
    
        margin: auto;
        background: inherit;
        background-position: bottom;
        filter: blur(40px) saturate(0%);
        transform: scaleX(0.4);
        transition: ease-in-out 0.4s;
        border-radius: 120px;
        transform-origin: right;
        opacity: 0;
        z-index: -1;
      }
      .csr-beyond__image .csr-beyond__info {
        position: relative;
        line-height: 1.8;
        transition: ease-in-out 0.3s;
        opacity: 0;
    
      }
      .csr-beyond__image .csr-beyond__location {
        transition-delay: 0.15s;
      }
      .csr-beyond__image:hover {
        border-radius: 0;
        width: 400px;
        height: 350px;
        border-radius: 10px;
    
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
      }
      .csr-beyond__image:hover:before {
        width: 100%;
        /* opacity: 0.18; */
        /* filter: blur(10px) saturate(100%); */
        transform: scale(2.8) translate3d(-18%, 0px, 0px);
      }
      .csr-beyond__image:hover .csr-beyond__info {
        transform: translate3d(101%, 0px, 0px);
        opacity: 1;
        width: 453px;
        /* padding-left: 56px; */
        
    
      }
      
      .link {
        border-bottom: 1px solid transparent;
        color: #06C0A8;
        text-decoration: none;
        transition: ease-in 0.13s;
      }
      .link:hover {
        background-color: #06C0A8;
        color: #ffffff;
      }
      .csr-head{
          margin-top: 25px;
          margin-bottom: 25px;
      }
    .csr-beyond-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        width: 100%;
        margin: auto;
        overflow: hidden;
      }
      .csr-beyond__image-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 350px;
        border-radius: 10px;
        background-image: url("/aboutus/images/aerial-view-business-team.jpg");
        background-size: cover;
        transition: ease-in-out 0.3s;
        z-index: 2;
      }
      .csr-beyond__image-1:before {
        content: " ";
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
    
        bottom: 0;
        left: 0;
        margin: auto;
        background: inherit;
        background-position: bottom;
        filter: blur(40px) saturate(0%);
        transform: scaleX(0.4);
        transition: ease-in-out 0.4s;
        border-radius: 120px;
        transform-origin: right;
        opacity: 0;
        z-index: -1;
      }
      .csr-beyond__image-1 .csr-beyond__info-1 {
        position: relative;
        line-height: 1.8;
        transition: ease-in-out 0.3s;
        opacity: 0;
        width: 596px;
        padding-right: 137px;
        
      }
      .csr-beyond__image-1 .csr-beyond__location-1 {
        transition-delay: 0.15s;
      }
      .csr-beyond__image-1:hover {
        border-radius: 0;
        width: 400px;
        height: 350px;
        border-radius: 10px;
    
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
      }
      .csr-beyond__image-1:hover:before {
        width: 100%;
        /* opacity: 0.18; */
        /* filter: blur(10px) saturate(100%); */
        transform: scale(2.8) translate3d(-18%, 0px, 0px);
      }
      .csr-beyond__image-1:hover .csr-beyond__info-1 {
        transform: translate3d(-85%, 0px, 0px);
        opacity: 1;
      }
      
      .link-1 {
        border-bottom: 1px solid transparent;
        color: #06C0A8;
        text-decoration: none;
        transition: ease-in 0.13s;
      }
      .link-1:hover {
        background-color: #06C0A8;
        color: #ffffff;
      }
      .mobile-csr-head{
        display: none;
          }
  }
@media only screen and (max-width: 992px) {
    
 
.head-banner-text-1 {
    color: black;
    margin-top: 60px;
    font-size: 21px;
    /* line-height: 44px; */
    /* font-weight: 400; */
}
.head-banner-text-2 {
    color: black;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 0px;
}
.head-banner-text-3 {
    color: black;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 0px;
}
.banner-head-1-img {
    margin-top: 84px;
}
.csr-beyond {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .csr-beyond__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-image: url("/aboutus/images/aerial-view-business-team.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;
    z-index: 2;
  }
  .csr-beyond__image:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;

    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
  }
  .csr-beyond__image .csr-beyond__info {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;

  }
  .csr-beyond__image .csr-beyond__location {
    transition-delay: 0.15s;
  }
  .csr-beyond__image:hover {
    border-radius: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
  }
  .csr-beyond__image:hover:before {
    width: 100%;
    /* opacity: 0.18; */
    /* filter: blur(10px) saturate(100%); */
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
  }
  .csr-beyond__image:hover .csr-beyond__info {
    transform: translate3d(101%, 0px, 0px);
    opacity: 1;
    width: 340px;
    padding-left: 0px;
    

  }
  
  .link {
    border-bottom: 1px solid transparent;
    color: #06C0A8;
    text-decoration: none;
    transition: ease-in 0.13s;
  }
  .link:hover {
    background-color: #06C0A8;
    color: #ffffff;
  }
  .csr-head{
      margin-top: 25px;
      margin-bottom: 25px;
  }
.csr-beyond-1 {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .csr-beyond__image-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-image: url("/aboutus/images/aerial-view-business-team.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;
    z-index: 2;
  }
  .csr-beyond__image-1:before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;

    bottom: 0;
    left: 0;
    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
  }
  .csr-beyond__image-1 .csr-beyond__info-1 {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;
    width: 596px;
    padding-right: 137px;
    
  }
  .csr-beyond__image-1 .csr-beyond__location-1 {
    transition-delay: 0.15s;
  }
  .csr-beyond__image-1:hover {
    border-radius: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
  }
  .csr-beyond__image-1:hover:before {
    width: 100%;
    /* opacity: 0.18; */
    /* filter: blur(10px) saturate(100%); */
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
  }
  .csr-beyond__image-1:hover .csr-beyond__info-1 {
    transform: translate3d(-85%, 0px, 0px);
    opacity: 1;
    width: 451px;
    padding-right: 58px;
  }
  
  .link-1 {
    border-bottom: 1px solid transparent;
    color: #06C0A8;
    text-decoration: none;
    transition: ease-in 0.13s;
  }
  .link-1:hover {
    background-color: #06C0A8;
    color: #ffffff;
  }
  .mobile-csr-head{
    display: none;
      }
}
@media only screen and (max-width: 768px) {
    
 
.head-banner-text-1 {
    color: black;
    margin-top: 60px;
    font-size: 21px;
    /* line-height: 44px; */
    /* font-weight: 400; */
}
.head-banner-text-2 {
    color: black;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 0px;
}
.head-banner-text-3 {
    color: black;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 0px;
}
.banner-head-1-img {
    margin-top: 84px;
}
.csr-beyond {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .csr-beyond__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 235px;
        height: 143px;
    border-radius: 10px;
    background-image: url("/aboutus/images/aerial-view-business-team.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;
    z-index: 2;
  }
  .csr-beyond__image:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;

    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
  }
  .csr-beyond__image .csr-beyond__info {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;

  }
  .csr-beyond__image .csr-beyond__location {
    transition-delay: 0.15s;
  }
  .csr-beyond__image:hover {
    border-radius: 0;
    width: 235px;
        height: 143px;
    border-radius: 10px;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
  }
  .csr-beyond__image:hover:before {
    width: 100%;
    /* opacity: 0.18; */
    /* filter: blur(10px) saturate(100%); */
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
  }
  .csr-beyond__image:hover .csr-beyond__info {
    transform: translate3d(101%, 0px, 0px);
    opacity: 1;
    width: 258px;
    font-size: 10px;
    padding-left: 0px;
    

  }
  
  .link {
    border-bottom: 1px solid transparent;
    color: #06C0A8;
    text-decoration: none;
    transition: ease-in 0.13s;
  }
  .link:hover {
    background-color: #06C0A8;
    color: #ffffff;
  }
  .csr-head{
      margin-top: 25px;
      margin-bottom: 25px;
  }
.csr-beyond-1 {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .csr-beyond__image-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 235px;
        height: 143px;
    border-radius: 10px;
    background-image: url("/aboutus/images/aerial-view-business-team.jpg");
    background-size: cover;
    transition: ease-in-out 0.3s;
    z-index: 2;
  }
  .csr-beyond__image-1:before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;

    bottom: 0;
    left: 0;
    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
  }
  .csr-beyond__image-1 .csr-beyond__info-1 {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;
    width: 596px;
    padding-right: 137px;
    
  }
  .csr-beyond__image-1 .csr-beyond__location-1 {
    transition-delay: 0.15s;
  }
  .csr-beyond__image-1:hover {
    border-radius: 0;
    width: 235px;
    height: 143px;
    border-radius: 10px;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
  }
  .csr-beyond__image-1:hover:before {
    width: 100%;
    /* opacity: 0.18; */
    /* filter: blur(10px) saturate(100%); */
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
  }
  .csr-beyond__image-1:hover .csr-beyond__info-1 {
    transform: translate3d(-85%, 0px, 0px);
    opacity: 1;
    width: 314px;
    font-size: 10px;
    padding-right: 58px;
  }
  
  .link-1 {
    border-bottom: 1px solid transparent;
    color: #06C0A8;
    text-decoration: none;
    transition: ease-in 0.13s;
  }
  .link-1:hover {
    background-color: #06C0A8;
    color: #ffffff;
  }
  .mobile-csr-head{
display: none;
  }
}
@media only screen and (max-width: 532px) {
.csr-head{
    display: none;
}
.mobile-csr-head{
    display: contents;

      }
.mobile-csr-image-1{
    width: 100%;
    margin-top: 43px;
}
}
