@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 0.9) 35%, rgba(83, 100, 141, 0) 100%);  /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.contentDiv{
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0;
  text-align: left;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contentDiv p{
    max-width: 570px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  /* overflow-x: hidden; */
  font-family: "Lato";
  
}

img{
  vertical-align: middle;
}
.carousel-indicators {
  bottom: 14%;
}

.carousel-indicators li {
  display: inline-block;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #666;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  background-color: #fff;
}
.carousel-image{
  width: 100%;
  height: 100%;
  background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 0.9) 35%, rgba(83, 100, 141, 0) 100%);
  /* display: inline-block;
  background-size: cover;
  background-position: top;
  position: relative;   */

 /* height: 522px !important; */
}

/*
inspired from https://codepen.io/Rowno/pen/Afykb 
*/
.carousel-inner{
  max-width: 100%;
  position: relative;
  margin: auto;

  
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 1s;
  /* testing css */
  /* background-image: url('https://images.unsplash.com/photo-1538367999111-0d6c7fb0299f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left .contentDiv{
  
  opacity: 0;
}
.carousel-fade .carousel-inner .active.right .contentDiv{
  opacity: 0;

}
.carousel-fade .carousel-inner .next.left .contentDiv
{
  opacity: 0;
}
.carousel-fade .carousel-inner .prev.right .contentDiv
{
  opacity: 0;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(200%, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(200%, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
.carousel-fade .carousel-inner > .item.prev.right,
.carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-caption {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: -30%;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #000000;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}

.btn-teo-caption {
  width: 155px;
  border-radius: 500px !important;
  border: 3px solid #106470;
  margin-top: 6px;
  margin-right: 21%;
  background-color: #106470;
  font-weight: bold;
  color: white;
}

.btn-teo-caption:hover {
  background-color: white;
  color: #106470;
  border: 3px solid #106470;
  transition-property: ease 1s;
}

#caption1-button {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  bottom: -10px;
  left: 40%;
  color: black;
  text-decoration: none;
}

.section-highlights {
  padding-top: 0;
  margin-top: -80px;
}
.section {
  width: 100%;
  position: relative;
  padding: 50px 0;
}
.section-highlights:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 76%;
  background-color: #f8f9fa;
}
.inner-container {
  margin: 0 auto;
  position: relative;
  display: block;
}
.highlight-grid {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  align-items: center;
}
.highlight-block {
  width: 360px;
  height: 170px;
  /* margin-right: 30px; */
  float: left;
  display: table;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(0 0 0 / 12%);
}

.highlight-content {
  padding: 15px;
  float: left;
  width: 59%;
  height: inherit;
  position: relative;
}
@media only screen and (min-width:600px) and (max-width:768px) {
  .highlight-content {
    width: 100%;
  }
}

@media only screen and (max-width:600px) {
  .highlight-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
  }
  /* .highlight-grid .highlight-block{
    
  } */
  .highlight-content {
  width: 100%;
  }
}

.pr-article-tag {
  margin-left: 0;
  margin-top: 0;
}
.pr-article-tag {
  background-color: transparent;
  font-family: eurostileltstd;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #e31837;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  float: left;
}
.highlight-date {
  font-family: Arial;
  font-size: 12px;
  color: #333;
  padding-bottom: 6px;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}
.h4, h4 {
  font-size: 18px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.highlight-header a {
  font-family: eurostileltstd;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
a, a:active, a:focus, a:hover {
  outline: 0;
  text-decoration: none;
  color: #000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
a {
  background-color: transparent;
}
.highlight-block {
  width: 360px;
  height: 250px;
  /* margin-right: 30px; */
  float: left;
  display: table;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(0 0 0 / 12%);
}
.search {
  width: 100%;
  /* position: relative; */
  display: flex;
  /* top: 30rem; */
}

.searchTerm {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-right: none;
  padding: 25px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: white !important;
  background: rgb(133, 131, 131) !important;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 52px;
  height: 39px;
  border: 1px solid #e31817;;
  background: #e31817;;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-transform: uppercase;
  color: white;
  /* background: -webkit-linear-gradient(left, #eaeaee, #faf8f8); */
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  margin-bottom: 90px;
}

.video-carousel-component {
  background: #e31817;
  padding: 90px 0px;
  overflow-x: hidden;
}
.video-carousel-component .video-carousel-component-items {
  position: relative;
  display: inline-block;
}
.video-carousel-component .video-carousel-component-items .item-video {
  position: absolute;
  top: 20px;
  left: 100vw;
  opacity: 0.7;
  transition: 0.5s;
}
.video-carousel-component .video-carousel-component-items .item-video .video-video img {
  border: 7px solid white;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.09);
  max-width: 32vw;
}
.video-carousel-component .video-carousel-component-items .item-video .video-legenda {
  visibility: hidden;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.video-carousel-component .video-carousel-component-items .item-video .video-legenda .title {
  font-weight: 700;
}
.video-carousel-component .video-carousel-component-items .item-video .video-legenda .subtitle {
  font-weight: 400;
}
.video-carousel-component .video-carousel-component-items .item-video.active {
  transform: translateX(calc(-50vw - 50%)) scale(1.3);
  opacity: 1;
  z-index: 10;
}
.video-carousel-component .video-carousel-component-items .item-video.active .video-legenda {
  visibility: visible;
  color: white;
}
.video-carousel-component .video-carousel-component-items .item-video.active .video-video {
  position: relative;
  width: 32vw;
}
.video-carousel-component .video-carousel-component-items .item-video.active .video-video iframe {
  border: 7px solid white;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.09);
  max-width: 32vw;
}
.video-carousel-component .video-carousel-component-items .item-video.active .video-video.noafter:after {
  display: none;
}
.video-carousel-component .video-carousel-component-items .item-video.active .video-video:after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: calc(50% - 35px);
  right: calc(50% - 35px);
  display: inline-block;
  background: url("https://image.flaticon.com/icons/svg/149/149657.svg") no-repeat top right;
  width: 70px;
  height: 70px;
  filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.9));
}
.video-carousel-component .video-carousel-component-items .item-video.active .video-video:hover:after {
  filter: drop-shadow(6px 6px 14px rgba(0, 0, 0, 0.9));
}
.video-carousel-component .video-carousel-component-items .item-video.passed {
  transform: translateX(calc(-90vw - 50%)) scale(1);
}
.video-carousel-component .video-carousel-component-items .item-video.passed-out {
  transform: translateX(100vw) scale(1);
}
.video-carousel-component .video-carousel-component-items .item-video.active + .item-video {
  transform: translateX(calc(-10vw - 50%));
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 767px) {
  .video-carousel-component {
    /* background: #fafafa; */
    padding: 60px 0px;
  }
  .video-carousel-component .title h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 0px;
  }
  .video-carousel-component .video-carousel-component-items {
    position: relative;
    display: inline-block;
  }
  .video-carousel-component .video-carousel-component-items .item-video {
    position: absolute;
    top: 20px;
    left: 100vw;
    opacity: 0.7;
    transition: 0.5s;
  }
  .video-carousel-component .video-carousel-component-items .item-video .video-video img {
    border: 3px solid white;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.09);
    max-width: 32vw;
  }
  .video-carousel-component .video-carousel-component-items .item-video .video-legenda {
    visibility: hidden;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 7px;
  }
  .video-carousel-component .video-carousel-component-items .item-video .video-legenda .title {
    font-weight: 700;
  }
  .video-carousel-component .video-carousel-component-items .item-video .video-legenda .subtitle {
    font-weight: 400;
  }
  .video-carousel-component .video-carousel-component-items .item-video.active {
    transform: translateX(calc(-50vw - 50%)) translateY(25%) scale(2);
    opacity: 1;
    z-index: 10;
  }
  .video-carousel-component .video-carousel-component-items .item-video.active .video-legenda {
    visibility: visible;
  }
  .video-carousel-component .video-carousel-component-items .item-video.active .video-video {
    position: relative;
    width: 32vw;
  }
  .video-carousel-component .video-carousel-component-items .item-video.active .video-video iframe {
    border: 7px solid white;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.09);
    max-width: 32vw;
  }
  .video-carousel-component .video-carousel-component-items .item-video.active .video-video.noafter:after {
    display: none;
  }
  .video-carousel-component .video-carousel-component-items .item-video.active .video-video:after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: calc(50% - 10px);
    right: calc(50% - 10px);
    display: inline-block;
    background: url("https://image.flaticon.com/icons/svg/149/149657.svg") no-repeat top right;
    width: 20px;
    height: 20px;
    filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.9));
  }
  .video-carousel-component .video-carousel-component-items .item-video.active .video-video:hover:after {
    filter: drop-shadow(6px 6px 14px rgba(0, 0, 0, 0.9));
  }
  .video-carousel-component .video-carousel-component-items .item-video.passed {
    transform: translateX(calc(-95vw - 50%)) scale(1);
  }
  .video-carousel-component .video-carousel-component-items .item-video.passed-out {
    transform: translateX(100vw) scale(1);
  }
  .video-carousel-component .video-carousel-component-items .item-video.active + .item-video {
    transform: translateX(calc(-5vw - 50%));
    z-index: 1;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
  font: 14px/20px "Open Sans", sans-serif;
  color: #9b9b9b;
}

#staff-wrapper {
  height: 600px;
  background: #353434;
  position: relative;
}
.designation{
  color: white;
}

.staff__block {
  /* max-width: 1250px; */
  padding: 0 10px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
 transform: translate(0%,-50%);
height: 500px;
}

.staff__block .card{
  height: 100%;
}
.card {
  width: 25%;
  float: left;
  position: relative;
  -webkit-transform: translateY(0);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 100% !important;
}
.card:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  z-index: 10;
}
.card:hover:after {
  opacity: 1;
}
.card:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 25px 40px -20px #ca6c00;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);

}
.image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.image:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
  display: block;
  z-index: 6;
}

.text_holder {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 5;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.text_holder .title {
  margin-bottom: 5px;
  color: #fff;
}

.text_holder_inner {
  padding: 15px 10px;
}

.card.slow_zoom:hover .text_holder {
  bottom: 40%;
}

.card .image_shader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.78);
}

.card.slow_zoom .image_shader {
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
}

.card.slow_zoom:hover .image_shader {
  opacity: 1;
}

.card.slow_zoom .staff_image_holder img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 2s cubic-bezier(0.23, 1, 0.12, 1) 0s;
}

.card.slow_zoom:hover .staff_image_holder img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
}


/* ############################## */
/* sh_head_slider full width slick slider */

/* Slider */
.sh_head_slider.slick-slider {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.sh_head_slider .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.sh_head_slider.slick-list:focus {
  outline: none;
}

.sh_head_slider.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.sh_head_slider.slick-slider .slick-track,
.sh_head_slider.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sh_head_slider.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
max-height: 731px;
overflow: hidden;
}

.sh_head_slider.slick-track:before,
.sh_head_slider.slick-track:after {
  display: table;

  content: '';
}

.sh_head_slider.slick-track:after {
  clear: both;
}

.sh_head_slider.slick-loading .slick-track {
  visibility: hidden;
}

.sh_head_slider.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  width: 100%;

  &:focus,
  &:hover {
      outline: 0;
  }
}

[dir='rtl'] .sh_head_slider.slick-slide {
  float: right;
}

.sh_head_slider.slick-slide img {
  display: block;
  height: auto;
  width: 100%;
}

.sh_head_slider.slick-slide.slick-loading img {
  display: none;
}

.sh_head_slider.slick-slide.dragging img {
  pointer-events: none;
}

.sh_head_slider.slick-initialized .slick-slide {
  display: block;
}

.sh_head_slider.slick-loading .slick-slide {
  visibility: hidden;
}

.sh_head_slider.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.sh_head_slider.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.sh_head_slider.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.sh_head_slider.slick-prev,
.sh_head_slider.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 48px;
  height: 48px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.sh_head_slider.slick-prev:hover,
.sh_head_slider.slick-prev:focus,
.sh_head_slider.slick-next:hover,
.sh_head_slider.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.sh_head_slider.slick-prev:hover:before,
.sh_head_slider.slick-prev:focus:before,
.sh_head_slider.slick-next:hover:before,
.sh_head_slider.slick-next:focus:before {
  opacity: 1;
}

.sh_head_slider.slick-prev.slick-disabled:before,
.sh_head_slider.slick-next.slick-disabled:before {
  opacity: .25;
}

.sh_head_slider.slick-prev:before,
.sh_head_slider.slick-next:before {
  font-family: 'FontAwesome';
  font-size: 48px;
font-weight: bold;
  line-height: 1;

  opacity: .75;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
transition: opacity 0.25s;
}



/* keep the buttons on the screen or remove */

.sh_head_slider .slick-prev {
  left: 50px;
  text-align: left;
  position: absolute;
  z-index: 2;
}

.sh_head_slider .slick-next {
  right: 60px;
text-align: right;
}


.sh_head_slider .slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 51px;
  line-height: 1;
  opacity: .75;
  color: #223965;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px){
.sh_head_slider .slick-prev::before, .slick-next::before {
  display: none;
  }
}




.sh_head_slider.slick-prev {
  left: 0;
  z-index: 1;
}

[dir='rtl'] .sh_head_slider.slick-prev {
  right: 0;
  left: auto;
}

.sh_head_slider.slick-prev:before {
  content: '\f104';
}

[dir='rtl'] .sh_head_slider.slick-prev:before {
  content: '\f105';
}

.sh_head_slider.slick-next {
  right: 0;
}

[dir='rtl'] .sh_head_slider.slick-next {
  right: auto;
  left: 0;
}

.sh_head_slider.slick-next:before {
  content: '\f105';
}

[dir='rtl'] .sh_head_slider.slick-next:before {
  content: '\f104';
}

/* Dots */
.sh_head_slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.sh_head_slider.slick-dots {
  position: absolute;
  bottom: 16px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.sh_head_slider.slick-dots li {
  position: relative;

  display: inline-block;

  width: 16px;
  height: 16px;
  margin: 0 8px;
  padding: 0;

  cursor: pointer;
}

.sh_head_slider.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 16px;
  height: 16px;
  padding: 8px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.sh_head_slider.slick-dots li button:hover,
.sh_head_slider.slick-dots li button:focus {
  outline: none;
}

.sh_head_slider.slick-dots li button:hover:before,
.sh_head_slider.slick-dots li button:focus:before {
  opacity: 1;
}

.sh_head_slider.slick-dots li button:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 1;

  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  content: '\f111';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
}

.sh_head_slider.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/**
* Photo
*/

.sh_head_slider.photo {
background-size: cover;
background-position: center center;
min-height: 10em;
padding-bottom: 5%;
will-change: transform;

&.is-animating {
  animation: scale 5s ease-in-out forwards;
}

&:before {
  content: "";
  display: block;
}

* > {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
}
}

@keyframes scale {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.1) rotate(0.01deg);  }
}


/*  ################################################  */



/* ####################  ## ######################## */ 

/* Content Center Slider op basis van Slack Slider JS */

.content_slider_wrap {
position: relative;
z-index: 100;
width: 100%;
height: 100%;
padding: 0 60px;
background: url(/fileadmin/user_upload/applications/producten/lepel-mousse.jpg) center no-repeat;
-webkit-background-size: cover;
background-size: cover;
overflow: hidden;
}

.content_slider_wrap:after {
content:'';
position: absolute;
z-index: 2;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #22396570;
/*background: rgba(0,0,0,.5);*/
}

.content_slider1 {
position: relative;
z-index: 200;
padding: 0 0px;
margin: 1rem auto;
max-width: 800px;
width: 100%;
}

/*.slick-arrow {
position: absolute;
top: 50%;
width: 40px;
height: 50px;
line-height: 50px;
margin-top: -25px;
border: none;
background: transparent;
color: #fff;
font-family: monospace;
font-size: 5rem;
z-index: 300;
outline: none;
}
*/

.content_slider1 .slick-slide{
padding-left: 10px;
}

.content_slider1 .slick-prev {
left: -50px;
text-align: left;
}

.content_slider1 .slick-next {
right: -50px;
text-align: right;
}

.content_slider1 .slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 51px;
  line-height: 1;
  opacity: .75;
  color: #223965;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content_slider1 .item.slick-slide {
width: 400px;
height: 400px !important;
transition: transform .4s;
position: relative; 
}

.content_slider1 .slick-slide:after {
content:'';
position: absolute;
z-index: 2;
top: 0;
left: 0;
right: 0;
bottom: 0;
/*background: rgba(0,0,0,.5);*/
transition: transform .4s;
}


/* instellen grote van de items */
/*

.item.slick-slide {
transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
transform: scale(0.8) translate(-250px);
z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
transform: scale(0.7)  translate(-640px);
z-index: 5;
}

.item.slick-slide.slick-active {
transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
/* margin: 0 -10%; */
/* transform: scale(1);
z-index: 30;
}

.slick-center:after {
opacity: 0;
}

*/


.content_slider1 .slick-center {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
transform: scale(1.25); 
z-index: 30; 
position: relative;  
}

.content_slider1 .slick-list { 
padding:45px 60px !important;
margin-left:30px !important;
}


@media (max-width: 600px) { 
.content_slider1 .slick-list { 
  padding: 0px 1px !important;
  margin-left: -17px !important;
}
}

@media (max-width: 600px) { 
.content_slider1 .item.slick-slide {
width: 100%;
height: auto!important;
transition: transform .4s;
position: relative; 
}
}



@media (max-width: 600px){
.content_slider1 .card-user-profile {
  border: 0 none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  width: 365px;
  height: auto;
  margin-top: 67px;
  margin-left: 10px;
}
}

@media (max-width: 600px){	
.content_slider_wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 3px;
  background: url(/fileadmin/user_upload/applications/producten/lepel-mousse.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}	
}

/* ////////////////////////////////////////////////////// */

/* Product Slider (sh_product_slider)  op basis van Slack Slider JS */


.sh_product_slider2_wrap {
position: relative;
z-index: 100;
width: 100%;
height: 100%;
padding: 0 60px;
/* background: url(/fileadmin/user_upload/applications/producten/cup-cakes.jpg) center no-repeat; */
-webkit-background-size: cover;
background-size: cover;
overflow: hidden;
background-color: #fff;
}

@media (max-width: 600px){	
.sh_product_slider2_wrap {
padding: 0 6px;
z-index: 1;
}
}


.sh_product_slider2_wrap:after {
content:'';
position: absolute;
z-index: 2;
top: 0;
left: 0;
right: 0;
bottom: 0;
/*background: #22396570;*?
/*background: rgba(0,0,0,.5);*/
}


.sh_product_slider2 {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: auto;
  margin-bottom: 5rem;
  max-width: 1155px;
  width: 100%;
}

@media (max-width: 600px) { 
.sh_product_slider2 {
  position: relative;
  /*z-index: 2; */
  padding: 0 0px;
  margin: auto;
  margin-bottom: 5rem;
  max-width: 1155px;
  width: 100%;
}
}

/*.sh_product_slider2 .slick-arrow {
position: absolute;
top: 50%;
width: 40px;
height: 50px;
line-height: 50px;
margin-top: -25px;
border: none;
background: transparent;
color: #fff;
font-family: monospace;
font-size: 5rem;
z-index: 300;
outline: none;
}
*/

sh_product_slider2  .slick-slider {
  touch-action: auto !important;
      -ms-touch-action: auto !important;
}



.sh_product_slider2 .slick-slide{
padding-left: 10px;
}

.sh_product_slider2 .slick-prev {
left: -50px;
text-align: left;
}

.sh_product_slider2 .slick-next {
right: -50px;
text-align: right;
}

.sh_product_slider2 .slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 51px !important;
  line-height: 1;
  opacity: .75;
  color: #223965 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sh_product_slider2 .item.slick-slide {
width: 400px;
height: 400px !important;
transition: transform .4s;
position: relative; 
}

.sh_product_slider2 .slick-slide:after {
content:'';
position: relative;
z-index: 2;
top: 0;
left: 0;
right: 0;
bottom: 0;
/*background: rgba(0,0,0,.5);*/
transition: transform .4s;
}


/* instellen grote van de items */
/*

.item.slick-slide {
transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
transform: scale(0.8) translate(-250px);
z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
transform: scale(0.7)  translate(-640px);
z-index: 5;
}

.item.slick-slide.slick-active {
transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
/* margin: 0 -10%; */
/* transform: scale(1);
z-index: 30;
}

.slick-center:after {
opacity: 0;
}

*/


.sh_product_slider2 .slick-center {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
transform: scale(1.25); 
z-index: 30; 
position: relative;  
}

.sh_product_slider2 .slick-list { 
padding:45px 60px !important;
margin-left:30px !important;
}


@media (max-width: 600px) { 
.sh_product_slider2 .slick-list { 
  padding: 0px 1px !important;
  margin-left: -17px !important;
}
}

@media (max-width: 600px) { 
.sh_product_slider2 .item.slick-slide {
width: 100%;
height: auto!important;
transition: transform .4s;
position: relative; 
}
}



@media (max-width: 600px){
.sh_product_slider2 .card-user-profile {
  border: 0 none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  width: 365px;
  height: auto;
  margin-top: 67px;
  margin-left: 10px;
}
}

@media (max-width: 600px){	
.sh_product_slider_wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 3px;
  background: url(/fileadmin/user_upload/applications/producten/cup-cakes.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}	
}




/* ################################################## */

/* light-box afmetingen aanpassen voor mobile  */

@media (max-width: 600px){

.fancybox-container {
  max-height: 200px;
  max-width: 100%;
  margin-top: 45%;
}

.fancybox-is-open .fancybox-stage {
  max-width: 100%;
}


.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
}

}
/*  testen  voor mobiel en tablet ? */

.small-collapse > .column, .small-> .columns {
  padding-right: 0;
  padding-left: 20px;
}

.newsletter{
  background: url('https://images.pexels.com/photos/9763472/pexels-photo-9763472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
  background-size: cover;
 
  /* height: 400px; */
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px #00000060;
}
.newsletter h1{
  text-transform: uppercase;
  color: #eadbbe;
  font-size: 58px;
  line-height: 45px;
  text-align: center;
}

.newsletter h1 span{
  display: block;
  font-size: 42px;
     
}

.newsletter p{
    color:#e6e6e6;
    font-size: 17px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;

}
.send-btn{
  width: 280px;
  height: 50px;
  background: #dfe6e940;
  border-radius: 50px;
  left:50%;
  top: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
  transform: translateX(-50%);
}



.send-btn #div-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e31817;
  color: #fff;
  text-align: center;
  line-height: 50px;
  z-index: 999;
  transition: .6s linear;
  border-radius: 50px;
  transform: translateX(0%);
  font-weight: bold;
}

.send-btn #div-input input {
  position: absolute;
  transition: .6s linear;
  transform: translateX(40%); 
  color:darkgray;
  background-color:#1e1e1e;
}
.send-btn:hover #div-input input{
  transform: translateX(0%);
 transition-delay: .4s;
     
}
.send-btn #div-input input{
width: 100%;
border-radius: 50px;
height: 95%;
padding-left: 60px;
font-size: 16px;
font-family: 'Molle', cursive;
color:
darkgray;
}




.send-btn:hover #div-cover {
  transform: translateX(80%);
  transition-delay: .3s;
    
}

.send-btn:hover  #div-cover a i{
  opacity: 1;
  color: white;
}
.send-btn > #div-cover a i{
    transition-delay: .8s;
}

.send-btn  #div-cover a i  {
 transition: 1.2s ;
opacity: 0;
float: left;
position: relative;
top: 14px;
left: 18px;
font-size: 20px;
   
}




.send-btn #div-input i{
position: absolute;
top: 16px;
left: 20px;
display: inline-block;
z-index: 9;
transition: .6s linear;
transition-delay: 0s;
transform: translateX(-220%);
font-size: 20px;
    color: antiquewhite;
}

.send-btn:hover #div-input i{
  transform: translateX(0%);
  transition-delay: .4s;
}


@media screen and (max-width: 775px) {
    form input[type= 'email']{
        font-size: 1em;
    }
}
@media screen and (max-width: 600px) {
    .welcome{
        width: 100%;
        padding: 80px 30px;
    }
    .welcome form{
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    form input[type= 'email']{
        font-size: 1em;
        border-bottom: 1px solid #333;
        color: #333;
    }
    ::placeholder{
        font-size: large;
        color: #333;
        opacity: .5;
    }
    form input[type= 'submit']{
        color: #fff;
        border-left: none;
        background-color: #333;
        width: 100px;
        margin: 20px auto;
        font-size: 1em;
    } 
}

@media screen and (max-width: 600px) {
  .newsl__img, .newsl__content, .newsl__input, .newsl__btn {
    width: 100%;
  }
}
.video-header{
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 2rem;
}
.peace h2{
  color: white;
}


.header {
  font-size: 40px;
  text-align: center;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px 0;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
  padding: 0 30px;
}

.wrapper {
  width: 33.3%;
  height: 100%;
  padding: 10px;
}

.name {
  position: relative;
  font-size: 16px;
  display: inline-block;
}
.name:after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 1px;
  background-color: #000;
  bottom: -4px;
  left: 0;
}

.box {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017), 0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03), 0 11.2px 13.4px rgba(0, 0, 0, 0.036), 0 20.9px 25.1px rgba(0, 0, 0, 0.043), 0 50px 60px rgba(0, 0, 0, 0.06);
}
.box .hide {
  opacity: 0;
}
.box .frame {
  position: absolute;
  border: 1px solid #fff;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box h2, .box p {
  position: absolute;
  color: #fff;
  z-index: 2;
  width: 100%;
  transition: opacity 0.2s, transform 0.3s;
}
.box h2 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.box p {
  bottom: 0;
  font-size: 14px;
  letter-spacing: 1px;
}
.box:hover {
  transition: all 0.3s ease-in-out;
}
.box:hover:before {
  transition: all 0.3s ease-in-out;
}
.box img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.box img:hover {
  transition: all 0.3s ease-in-out;
}
.box img:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.box img:hover {
  transition: all 0.3s ease-in-out;
}

.zoom-in h2 {
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
  margin: 0;
}
.zoom-in p {
  text-align: center;
  top: calc(50% + 40px);
  transition: all 0.3s ease;
  transform: scale(1.8);
  opacity: 0;
}
.zoom-in:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
}
.zoom-in:hover p {
  transform: scale(1);
  transition: all 0.3s ease;
  opacity: 1;
}

.w-content .frame {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: transparent;
}
.w-content h2 {
  margin-top: 0;
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
  letter-spacing: 1px;
}
.w-content p {
  transform: translate3d(0, -10px, 0);
}
.w-content:hover {
  opacity: 0.8;
}
.w-content:hover .frame {
  border-color: #fff;
  transition: color 0.3s ease-in-out, all 0.3s ease-in-out;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.postcard h2 {
  top: 50%;
  text-align: left;
  transform: translate3d(50px, 20px, 0);
}
.postcard p {
  transform: translate3d(40px, 60px, 0);
  font-size: 24px;
  letter-spacing: 1px;
}
.postcard:hover h2 {
  transform: translate3d(20px, 20px, 0);
}
.postcard:hover p {
  opacity: 1;
}
.postcard:hover img {
  filter: opacity(0.7);
  transform: translate3d(-30px, 0, 0);
}

.blury-card .frame {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.blury-card h2, .blury-card p {
  text-align: center;
  top: 50%;
  transform: translatey(-50%);
  margin: 0;
  z-index: 3;
}
.blury-card p {
  transform: translatey(30px);
  letter-spacing: 3px;
}
.blury-card span {
  font-size: 24px;
}
.blury-card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #008E6B;
  z-index: 1;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.blury-card img {
  z-index: 2;
}
.blury-card:hover .frame {
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  opacity: 1;
}
.blury-card:hover img {
  opacity: 0.7;
}
.blury-card:hover:before {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.vintage h2 {
  top: 20%;
  transform: translate3d(0, 60px, 0);
  text-align: center;
}
.vintage p {
  opacity: 0;
  bottom: 0;
  transform: translate3d(0, -10px, 0);
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}
.vintage:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(43, 42, 42,0.5);
  z-index: 2;
  bottom: -100%;
  left: 0;
}
.vintage:hover:before {
  bottom: 0;
}
.vintage:hover h2 {
  bottom: 40px;
  transform: translate3d(0, 20px, 0);
}
.vintage:hover p {
  opacity: 1;
  transform: translate3d(0, -30px, 0);
}

.zoom-out .frame {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.zoom-out h2 {
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
  letter-spacing: 1px;
}
.zoom-out span {
  font-size: 24px;
  font-weight: 500;
}
.zoom-out p {
  max-width: 120px;
  text-align: right;
  margin: 10px;
  right: 0;
}
.zoom-out img {
  transform: scale(1.1);
}
.zoom-out:hover img {
  transform: scale(1);
  filter: contrast(70%);
}

@media screen and (max-width: 880px) {
  .wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
  }
}
