/* contact form css start */
.contactHeading h3 {
  /* font: 600 1.125em/1.4 Poppins; */
  font-weight: 600 !important;
  /* font-size: rem; */
  letter-spacing: -.96px;
  margin-bottom: 0.8em;
}
/* contact form css end */
body,
html {
  width: 100%;
  height: 100%;
  
}

body {
  margin: 0; /* Remove default margin. */
  font-family: Poppins; /* Use a pretty font. */
  
}

.background {
  width: 100vw; /* view width */
  height: 100vh; /* view height */
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 
  Create the diagonal line in the background by setting each color to take 
  up 50% of the space. Setting the break points to 49.9% and 50.1% will minimize 
  the jagged line that is created if gradient colors were to be set to 50%/50%. 
  */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/aboutus/images/business-people-casual-meeting.jpg");
}
.overview-wrapper {
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
 /*  Animation decalaration   */
  animation-name: moveInleft;
  animation-duration: 4s;
}
@keyframes moveInleft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}
.top-banner-text{
}
.container-custom {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}
.overview-wrapper h2 {
  line-height: 1;
}
h2.wrapper-heading {
  font: 600 4.5em/1.1 Poppins;
  margin-bottom: 0.5em;
  letter-spacing: 0px;
  /* color: #fff; */
  opacity: 1;
  width: 100%;
  top: 10%;
}
h3.wrapper-heading {
font-size: 40px;
color: #043A5B !important;
}
.head-color {
  /* color: #19242f!important; */
}
p.overview-copy {
  font: 300 0.875em/1.7emPoppins;
  letter-spacing: -.56px;
  color: #9a9a9a;
  margin-bottom: 0;
  font: 300 0.875em/1.9emPoppins;
  font-weight: 400 !important;
}
.pt--20 {
  padding-top: 20px;
}
.aboutus-head1{
  margin-top: 139px;
  margin-left: 50px;
}
.head-2-aboutus{
display: flex !important;
flex-direction: row-reverse !important;
}
@media only screen and (max-width: 1920px)
{h2.wrapper-heading {
    /* font: 600 5em/1.1 Poppins; */
}}
@media only screen and (max-width: 1600px){
.overview-wrapper.about-overview {
    background-size: cover;
}
h2.wrapper-heading {
  font-family: 'Montserrat', sans-serif;
  
}
}
@media only screen and (max-width:1360px){
  .sliderbackground {
    font-size: 70px;
  }
  h2.wrapper-heading {
    font-size: 50px;
  }
}
@media (min-width: 1200px)
{
  .container-custom {
    width: 90%;
}
}
@media (min-width: 992px)
{.container-custom {
    width: 95%;
}
.col-lg-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
}
@media (min-width: 768px)
{.container-custom {
    width: 95%;
}
.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}}
@media (min-width: 576px)
{.container-custom {
    width: 95%;
}

.col-sm-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.top-banner-text{
  padding-top: 147px;
  color: white !important;
}
.top-banner-text1{
  /* padding-top: 147px; */
  color: white !important;
}
}
@media (min-width: 320px)
{.container-custom {
    width: 96%;
}


}
@media (max-width:  576px)
{
.aboutus-head1{
  margin-top: 50px ;
  margin-left: 10px;
}

}
@media (max-width: 320px)
{
.aboutus-head1{
  margin-top: 50px ;
  margin-left: 10px;
}

}


