@media only screen and (max-width: 986px) {
    .navbar-collapse{
        margin-left: 0px;
        padding: 1rem;
    }
    .navbar-dark .navbar-nav .nav-link{
        padding: 5px;
        font-weight: 300;
    }
    .social-header{
        display: none;
    }
  }